// app.vue项目入口文件

<template>
  <div>
    <header class="header">
      <div class="container">
        <el-menu theme="dark" default-active="1" class="el-menu-demo nav" mode="horizontal" >
          <el-menu-item index="handlecenter" >
            <router-link to="/foo">处理中心</router-link>
          </el-menu-item>
          <el-menu-item index="survcenter" >
            <router-link to="/surv">调查中心</router-link>
          </el-menu-item>
          <el-submenu index="workspace">
            <template slot="title">我的工作台</template>
            <el-menu-item index="workA">选项1</el-menu-item>
            <el-menu-item index="workB">选项2</el-menu-item>
            <el-menu-item index="workC">选项3</el-menu-item>
          </el-submenu>
          <el-menu-item index="3">
            <router-link to="/subRoute">带二级导航</router-link>
          </el-menu-item>
        </el-menu>
      </div>
    </header>
    <div class="main-cnt">
      <div class="page-container">
        <router-view></router-view>
      </div> 
    </div>
    <div>
      <footer class="footer">
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {

    }
  },

  methods: {

  }
}
</script>

<style>
body {
  font-family: Helvetica, sans-serif;
}
</style>
