<template>
    <!-- 整个页面 -->
    <div class="pageDiv" style=" padding-left: 10px; padding-right: 10px;">
        <!-- 表单查询 -->
        <div class="formDiv">
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="号牌种类">
                    <el-select v-model="formInline.hpzl" class="formItem" placeholder="请选择" size="small">
                        <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="号牌号码">
                    <el-input v-model="formInline.hphm" class="formItem" placeholder="号牌号码" size="small"/>
                </el-form-item>
                <el-form-item label="流水号">
                    <el-input v-model="formInline.lsh" class="formItem" placeholder="流水号" size="small"/>
                </el-form-item>
                <el-form-item label="档案编号">
                    <el-input v-model="formInline.dabh" class="formItem" placeholder="档案编号" size="small"/>
                </el-form-item>
                <el-form-item>
                    <el-button class="primaryButton" type="primary" size="small">查询</el-button>
                    <el-button class="primaryButton" type="primary" size="small">保存</el-button>
                </el-form-item>
            </el-form>
        </div>
        <!-- 内容部分 -->
        <div class="mainDiv">
            <!-- 预览区 -->
            <div class="leftDiv">
                <!-- 图片显示 -->
                <div v-if="showPrise" class="potoDiv">
                    <pictureOperation :img="img" :ms="ms"/>
                </div>
                <div v-if="showPhoto">
                    <photograph/>   
                </div>
            </div>
            <!-- 编辑区 -->
            <div class="rightDiv">
                <el-tabs type="border-card">
                    <el-tab-pane label="档案资料">
                        <!-- 档案材料 -->
                        <div class="etidDiv">
                            <el-table
                                :data="fileInfoData"
                                :show-header="showHeader" 
                                style="width: 100%" 
                                size="small">
                                <el-table-column fixed prop="label" label="标题" width="100"/>
                                <el-table-column prop="value" label="值"/>
                            </el-table>
                        </div>
                        <div class="selectInfoDiv">
                            <el-select v-model="formInline.region" class="formItem" placeholder="请选择" size="small">
                                <el-option
                                    v-for="item in business"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value"/>
                            </el-select>
                            <el-switch
                                :disabled="disabled"
                                v-model="switchValue"
                                style="padding-top:5px;"
                                active-text="主摄像头"
                                inactive-text="副摄像头" />
                            <el-checkbox v-model="checked" @change="handleCheckedCitiesChange"/>
                        </div>
                        <div class="tableDiv">
                            <el-table :data="tableData" style="width: 100%" height="250" >
                                <el-table-column prop="src" label="材料" width="60">
                                    <template slot-scope="scope">
                                        <img :src="scope.row.src" style="width:50px;height:30px;" @click="showImg(scope.row)"/>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="ms" label="描述"/>
                                <el-table-column prop="djr" label="登记人" />
                                <el-table-column prop="djsj" label="登记时间"/>
                            </el-table>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="机动车信息">
                        <el-table
                            :data="carInfoData"
                            :show-header="showHeader" 
                            style="width: 100%" 
                            size="small">
                            <el-table-column fixed prop="label" label="标题" width="100"/>
                            <el-table-column prop="value" label="值"/>
                        </el-table>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
</template>

<script>
import pictureOperation from '../publicComponent/potoComponent'
import photograph from '../publicComponent/photograph'
export default {
    components: {
        pictureOperation,
        photograph
    },
    data() {
        return {
            img: '',
            showHeader: false, // 档案信息不显示表头
            showPhoto: false,
            showPrise: true,
            tableData: [{
                src: '../../assets/zltp/sfzzm.png',
                ms: '身份证正面',
                djr: '李四',
                djsj: '2018.07.18'
            }, {
                src: '../../assets/zltp/sfzfm.jpg',
                ms: '身份证反面',
                djr: '李四',
                djsj: '2018.07.18'
            }, {
                src: '../../assets/zltp/jdchgz.jpg',
                ms: '机动车整车出厂合格证明',
                djr: '王五',
                djsj: '2018.07.18'
            }, {
                src: '../../assets/zltp/jdcgszm.jpg',
                ms: '车辆购置税的完税证明',
                djr: '李四',
                djsj: '2018.07.18'
            }, {
                src: '../../assets/zltp/jdcbxzm.jpg',
                ms: '机动车交通事故责任强制保险凭证',
                djr: '李四',
                djsj: '2018.07.18'
            }, {
                src: '../../assets/zltp/jdczcdj.jpg',
                ms: '机动车注册登记表',
                djr: '王五',
                djsj: '2018.07.18'
            }],
            formInline: {
                hpzl: '',
                hphm: '',
                lsh: '',
                dabh: ''
            },
            fileInfoData: [{
                label: '号牌号码',
                value: '冀A 00000',
            }, {
                label: 'VIN码',
                value: '0000000000000000000',
            }, {
                label: '所有人',
                value: '张三',
            }, {
                label: '车辆品牌',
                value: '东风悦达起亚',
            }],
            carInfoData: [{
                label: '号牌号码',
                value: '冀A 00000',
            }, {
                label: '车辆类型',
                value: '小型汽车',
            }, {
                label: '所有人',
                value: '张三',
            }, {
                label: '车辆品牌',
                value: '东风悦达起亚',
            }],
            options: [{
                value: '大型汽车',
                label: '大型汽车'
            }, {
                value: '小型汽车',
                label: '小型汽车'
            }, {
                value: '农用运输车',
                label: '农用运输车'
            }, {
                value: '挂车',
                label: '挂车'
            }, {
                value: '教练汽车',
                label: '教练汽车'
            }],
            business: [{
                value: '车辆注册登记',
                label: '车辆注册登记'
            }, {
                value: '车辆检验',
                label: '车辆检验'
            }, {
                value: '车辆报废',
                label: '车辆报废'
            }, {
                value: '机动车过户',
                label: '机动车过户'
            }, {
                value: '机动车车体变更',
                label: '机动车车体变更'
            }],
            value: '',
            checked: false,
            switchValue: true, 
            disabled: true, // 是否禁用开关
            ms: '', // 材料描述信息
        }
    },   
    methods: {
        //  滑块是否禁用
        handleCheckedCitiesChange(){
            if (this.checked) {
                this.showPhoto = true
                this.showPrise = false
                this.disabled = false
            } else {
                this.showPhoto = false
                this.showPrise = true
                this.disabled = true
            }
        },
        showImg(row){
            this.img = row.src
            this.ms = row.ms
        },
    }
}
</script>

<style scoped>
.pageDiv{
    height:100%;
    width: 100%;
}
.formDiv{
    height:10%;
    width: 100%;
}
.mainDiv{
    height:90%;
    width: 100%;
}
.leftDiv {
    height:100%;
    width: 70%;
    float: left;
    padding: 10px
}
.rightDiv{
    height: 100%;
    width: 30%;
    float: right;
    padding: 10px;
    overflow: hidden;
}
.formItem {
    width: 160px;
}
.el-form-item {
    margin-top: 5px;
    margin-bottom: 10px;
}
.potoDiv{
     height:100%;
     width: 100%;
}
.etidDiv{
    height: 160px;
    width: 100%;
}
.selectInfoDiv{
    height:70px;
    width: 100%;
    padding: 5px;
}
.tableDiv{
    height:calc(100%-320px);
    width: 100%; 
}
.content-box .el-tabs {
    height: 100%; 
}
</style>

