<template>
    <div class="pageDiv" style="padding:10px">
        <div class="listFormDiv">
            <!-- 表单查询 -->
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="地市">
                    <el-cascader
                        v-model="formInline.ds"
                        :options="cities"
                        placeholder="请选择"
                        filterable
                        size="small"
                        change-on-select />
                </el-form-item>
                <el-form-item label="机构">
                    <el-select v-model="formInline.jg" size="small" placeholder="请选择" >
                        <el-option
                            v-for="item in institutions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="号牌种类">
                    <el-select v-model="formInline.hpzl" size="small" placeholder="请选择">
                        <el-option
                            v-for="item in licensePlate"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="号牌">
                    <el-input v-model="formInline.hphm" size="small" placeholder="号牌号码"/>
                </el-form-item>
                <el-form-item label="时间">
                    <el-date-picker
                        :picker-options="pickerOptions"
                        v-model="formInline.dataValue"
                        type="daterange"
                        align="right"
                        unlink-panels
                        size="mini"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"/>
                </el-form-item>
                <el-form-item>
                    <el-button class="primaryButton" size="small" type="primary">查询</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="listMainDiv">
            <el-table 
                :data="tableData" 
                type="index" 
                border 
                size="small"
                style="width: 100%" 
                height="450">
                <el-table-column :index="indexMethod" prop="hx" label="序号" width="50"/>
                <el-table-column prop="hpzl" label="号牌种类" />
                <el-table-column prop="hphm" label="号牌号码" />
                <el-table-column prop="ywzl" label="业务种类" />
                <el-table-column prop="blsj" label="办理时间" />
                <el-table-column prop="dasl" label="档案数量" />
                <el-table-column prop="zjcjsj" label="最近采集时间"/>
                <el-table-column prop="cz" label="操作">
                    <template slot-scope="scope">
                        <el-button type="text" size="small" @click="handleClick(scope.row)">详情</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div align="center">
                <el-pagination
                    :current-page="currentPage"
                    :page-size="pagesize"
                    :total="totalCunt"
                    layout="prev,pager,next,jumper"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange" />
            </div>
        </div>
        <!-- 详情弹框 -->
        <el-dialog :visible.sync="dialogFormVisible" width="70%" title="档案详情" >
            <el-container>
                <el-main>
                    <div class="carbDiv">
                        <el-tabs type="border-card">
                            <el-tab-pane label="档案信息">
                                <el-form :model="fileInfoData" :inline="true" label-position="left">
                                    <el-form-item class="formInfoClass">
                                        <span>{{ '车辆号牌：' + fileInfoData.clhp }}</span>
                                    </el-form-item>
                                    <el-form-item class="formInfoClass">
                                        <span>{{ '业务种类：' + fileInfoData.ywzl }}</span>
                                    </el-form-item>
                                    <el-form-item class="formInfoClass">
                                        <span>{{ '所有人：' + fileInfoData.syr }}</span>
                                    </el-form-item>
                                    <el-form-item class="formInfoClass">
                                        <span style="padding-left: 35px">{{ '办理时间：' + fileInfoData.blsj }}</span>
                                    </el-form-item>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="机动车信息">
                                <el-form :model="carInfoData" :inline="true" label-position="left">
                                    <el-form-item class="formInfoClass">
                                        <span>{{ '车辆号牌：' + carInfoData.clhp }}</span>
                                    </el-form-item>
                                    <el-form-item class="formInfoClass">
                                        <span>{{ '车辆类型：' + carInfoData.cllx }}</span>
                                    </el-form-item>
                                    <el-form-item class="formInfoClass">
                                        <span>{{ '车辆所有人：' + carInfoData.clsyr }}</span>
                                    </el-form-item>
                                    <el-form-item class="formInfoClass">
                                        <span style="padding-left: 20px">{{ '车辆品牌：' + carInfoData.clpp }}</span>
                                    </el-form-item>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                    </div>    
                    <!-- 预览区 -->
                    <div class="potoDiv" > 
                        <pictureOperation :img="img" :ms="ms"/>
                    </div>
                </el-main>
                <!-- 表格显示区 -->
                <el-aside width="320px">
                    <div>
                        <el-table :data="clData" style="width: 100%" height="425">
                            <el-table-column prop="src" label="材料" width="60">
                                <template slot-scope="scope">
                                    <img :src="scope.row.src" style="width:50px;height:30px;" @click="showImg(scope.row)"/>
                                </template>
                            </el-table-column>
                            <el-table-column prop="ms" label="描述" width="100" />
                            <el-table-column prop="djr" label="登记人"/>
                            <el-table-column prop="djsj" label="登记时间" width="100"/>
                        </el-table>
                    </div>
                </el-aside>
            </el-container>
        </el-dialog>
    </div>
</template>


<script>
import pictureOperation from '../publicComponent/potoComponent'
export default {
    components: {
        pictureOperation
    },
    data() {
        return {
            indexMethod: 1,
            img: '',
            ms: '',
            clName: '注册登记',
            currentDate: '2018.05.12',
            clData: [{
                src: '../../assets/zltp/sfzzm.png',
                ms: '身份证正面',
                djr: '李四',
                djsj: '2018.07.18'
            }, {
                src: '../../assets/zltp/sfzfm.jpg',
                ms: '身份证反面',
                djr: '李四',
                djsj: '2018.07.18'
            }, {
                src: '../../assets/zltp/jdchgz.jpg',
                ms: '机动车整车出厂合格证明',
                djr: '王五',
                djsj: '2018.07.18'
            }, {
                src: '../../assets/zltp/jdcgszm.jpg',
                ms: '车辆购置税的完税证明',
                djr: '李四',
                djsj: '2018.07.18'
            }, {
                src: '../../assets/zltp/jdcbxzm.jpg',
                ms: '机动车交通事故责任强制保险凭证',
                djr: '李四',
                djsj: '2018.07.18'
            }, {
                src: '../../assets/zltp/jdczcdj.jpg',
                ms: '机动车注册登记表',
                djr: '王五',
                djsj: '2018.07.18'
            }],
            dialogFormVisible: false,
            carInfoData: {
                clhp: '冀A88888',
                cllx: '大型车辆',
                clsyr: '张三',
                clpp: '东风悦达起亚',
            },
            fileInfoData: {
                clhp: '冀A88888',
                ywzl: '车辆注册',
                syr: '张三',
                blsj: '2018-06-09',
            },
            flag: 'All',
            pageNo: 1,
            pagesize: 18,
            start: 1,
            totalCunt: 100,
            currentPage: 1,
            tableData: [{
                hpzl: '大型客车',
                hphm: '冀A02992',
                ywzl: '注册登记',
                blsj: '2018.07.18',
                dasl: '8',
                zjcjsj: '2018.07.19',
            }, {
                hpzl: '小型汽车',
                hphm: '冀A04542',
                ywzl: '车辆报废',
                blsj: '2018.07.18',
                dasl: '7',
                zjcjsj: '2018.07.19',
            }, {
                hpzl: '农用汽车',
                hphm: '冀A04592',
                ywzl: '注册登记',
                blsj: '2018.07.18',
                dasl: '8',
                zjcjsj: '2018.07.18',
            }, {
                hpzl: '大型客车',
                hphm: '冀A02662',
                ywzl: '注册登记',
                blsj: '2018.07.18',
                dasl: '8',
                zjcjsj: '2018.07.18',
            }, {
                hpzl: '大型客车',
                hphm: '冀A02992',
                ywzl: '注册登记',
                blsj: '2018.07.18',
                dasl: '8',
                zjcjsj: '2018.07.19',
            }, {
                hpzl: '小型汽车',
                hphm: '冀A04542',
                ywzl: '车辆报废',
                blsj: '2018.07.18',
                dasl: '7',
                zjcjsj: '2018.07.19',
            }, {
                hpzl: '农用汽车',
                hphm: '冀A04592',
                ywzl: '注册登记',
                blsj: '2018.07.18',
                dasl: '8',
                zjcjsj: '2018.07.18',
            }, {
                hpzl: '大型客车',
                hphm: '冀A02662',
                ywzl: '注册登记',
                blsj: '2018.07.18',
                dasl: '8',
                zjcjsj: '2018.07.18',
            }],
            formInline: {
                ds: [],
                jg: [],
                hpzl: [],
                hphm: '',
                dataValue: ''
            },
            licensePlate: [{
                value: '',
                label: '请选择'
            }, {
                value: '大型汽车',
                label: '大型汽车'
            }, {
                value: '小型汽车',
                label: '小型汽车'
            }, {
                value: '农用运输车',
                label: '农用运输车'
            }, {
                value: '挂车',
                label: '挂车'
            }, {
                value: '教练汽车',
                label: '教练汽车'
            }],
            institutions: [{
                value: '石家庄市交管所',
                label: '石家庄市交管所'
            }, {
                value: '张家口市交管所',
                label: '张家口市交管所'
            }, {
                value: '沧州市交管所',
                label: '沧州市交管所'
            }, {
                value: '保定市交管所',
                label: '保定市交管所'
            }, {
                value: '衡水市交管所',
                label: '衡水市交管所'
            }],
            cities: [{
                value: '',
                label: '请选择',
            }, {
                value: '石家庄',
                label: '石家庄',
                children: [{
                    value: '桥西区',
                    label: '桥西区',
                }, {
                    value: '鹿泉',
                    label: '鹿泉',
                }, {
                    value: '赵县',
                    label: '赵县',
                }]
            }, {
                value: '张家口市',
                label: '张家口市',
                children: [{
                    value: '涿鹿县',
                    label: '涿鹿县',
                }, {
                    value: '怀来县',
                    label: '怀来县',
                }, {
                    value: '崇礼县',
                    label: '崇礼县',
                }, {
                    value: '张北县',
                    label: '张北县',
                }]
            }, {
                value: '沧州市',
                label: '沧州市',
                children: [{
                    value: '沧县',
                    label: '沧县'
                }, {
                    value: '肃宁县',
                    label: '肃宁县'
                }, {
                    value: '青县',
                    label: '青县'
                }, {
                    value: '献县',
                    label: '献县'
                }, {
                    value: '海兴县',
                    label: '海兴县'
                }]
            }, {
                value: '保定市',
                label: '保定市',
                children: [{
                    value: '涞水县',
                    label: '涞水县'
                }, {
                    value: '曲阳县',
                    label: '曲阳县'
                }, {
                    value: '涞源县',
                    label: '涞源县'
                }, {
                    value: '唐县',
                    label: '唐县'
                }]
            }],
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 7))
                        picker.$emit('pick', [start, end])
                    }
                }, {
                    text: '最近一个月',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 30))
                        picker.$emit('pick', [start, end])
                    }
                }, {
                    text: '最近三个月',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 90))
                        picker.$emit('pick', [start, end])
                    }
                }]
            },
        }
    },
    methods: {
        handleClick(){
            this.dialogFormVisible = true
        },
        handleSizeChange(val) {
            this.pagesize = val
        },
        handleCurrentChange(val){
            this.currentPAge = val
            this.pageNo = val
            if (this.flag === 'All') {
                this.selectAll()
            } else {
                this.searchInfo()
            }
        },
        // 查询所有信息
        selectAll(){
            this.falg = 'All'
        },
        // 按条件查询
        searchInfo(){
            this.falg = 'search'
        },
        showImg(row){
            this.img = row.src
            this.ms = row.ms
        },
    },
}
</script>

<style scoped>
.listFormDiv{
    width: 100%;
    height:20%
}
.listMainDiv{
    width: 100%;
    height:80%
}
.carbDiv{
    width: 100%;
    height: 40%
}
.potoDiv{
    width: 100%;
    height: 300px;
}
.el-main {
    padding: 0px;
}
.formInfoClass{
    margin-right: 86px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
</style>

