<template>
    <div>
        <div style="display:none">{{ tablename }}</div>
        <graph :elementsdata="elementsdata" />
    </div>
</template>
<script>

import graph from './Graph.vue'
import { getData } from './cygetdata'
import utils from '../../common/utils'
const {
    mapActions,
} = utils 
export default {
    name: 'GraphData',
    components: {
        graph
    },
    props: {
        tablename: {
            type: String,
            required: true,
        },
    },
    data(){
        return {
            dataArray: []
        }
    },
    computed: {
        elementsdata(){
            return this.dataArray
        },
    },
    watch: {
        tablename: function (newVal){
            this.loadData(newVal)
        },
    },

    updated: function () {
    },
    mounted(){
        this.loadData(this.tablename)
    },
    methods: {
        // 加载数据
        loadData(objName){
            const that = this
            this.cyGetAllData({
                // 获取全量数据的参数
                // data: { criteria: { owner: 'PDATA', objType: 'TABLE' } } 
                // 获取关系的参数
                data: { criteria: { owner: 'PDATA', objType: 'TABLE', objName, stat: 'A' } }
            }).then((res) => {
                const { data } = res
                if (data && data.content){
                    that.dataArray = getData.transData(data.content) || []
                }
            })
        },
        addNodeData(name, type){
            // debugger
            this.cyGetAllData({
                data: { criteria: { owner: 'PDATA', objType: type, objName: name, stat: 'A' } }
            }).then((res) => {
                this.elementsdata = getData.transData(res)
            })
        },
        // 匹配Store中的Action方法
        ...mapActions([
            'cyGetAllData',
            'login'
        ]),
    },
}
</script>
