#container {
  @include size(100%, 100%);
  min-width: 1000px;
  background: repeating-linear-gradient(rgba(244, 244, 244, 0.1), rgba(244, 244, 244, 0.1) 5px, transparent 6px, transparent 73px, rgba(244, 244, 244,0.1) 74px);
  .containerchild {
    @include size(100%, 100%);
    .hasmain {
      @include size(100%, 100%);
    }
  }

  @at-root {
    #chief {
      @include size(100%, 100%);
      background: repeating-linear-gradient(90deg, rgba(244, 244, 244,0.1), rgba(244, 244, 244,0.1) 5px, transparent 6px, transparent 73px, rgba(244, 244, 244,0.1) 74px);
      position: relative;
      overflow: hidden;

      & > .main404{
        @include size(100%,100%);
        text-align: center;
        background:url('../images/404.gif') center center no-repeat;
        position: relative;
        overflow: hidden;
        &>div{
          @include size(100px,32px);
          line-height: 32px;
          text-align: center;
          border-radius: 16px;
          background-color: $main-left-fontcolor;
          @include box-shadow(0px 0px 10px 3px $main-border-color);
          overflow: hidden;

          position: absolute;
          left: 50%;
          top: 50%;
          margin: 220px 0 0 330px;

          >a{
            color: $white;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }

      & > .isScopaPlugin {
        height: 100%;
      }

      & > .isNotScopaPlugin {
        height: calc(100% - 60px);
      }
    }
  }
}