#header {
  font-size: 16px;
  @include size(100%, 60px);
  background-color: $header-bg-color;
  overflow:hidden;

  #logo {
    @include size(150px, 60px);
    background: url("../images/nav-logo.png") 20px 13px no-repeat;
    overflow: hidden;
  }
  .navigation {
    height: 60px;
    overflow: hidden;

    li {
      min-width: 120px;
      height: 60px;
      color: $white;
      padding: 0;
      line-height: 60px;

      span{
        display: inline-block;
        padding-left: 5px;
      }

      a {
        @include size(100%, 100%);
        text-decoration: none;
        padding: 0 15px;
        color: $header-font-color;
        position: relative;
        outline: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover,&.active {
          color: $header-active-color;

          &.active {
            background-color: $header-active-bgcolor;
          }
        }

        & > .badge{
          color: $white;
          margin-left: 5px;
          background-color: $red;
          @include transition;

          &:hover{
            background-color: $green;
          }
        }
      }
    }
  }
}
