header > h1 {
    display: inline-block;
}
header > a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}
.to-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #000;
    font-size: 20px;
    color: #FFF;
    padding: 5px;
    line-height: 16px;
    cursor: pointer;
    padding: 10px;
}
.content-box {
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background-color: whitesmoke;
    // background-image: url('@{baseUrl}/assets/contentbg.jpg');
    .addcontent{
        overflow-y: auto;
    }
}
.wrapper {
    position: relative;
    height: 100%;
    .object{
        .el-select{
            .el-input{
                .el-input__inner{
                    height: 24px;
                    line-height: 24px;
                    font-size: 14px;
                    border-radius: 0;
                }
            }
        }
    }
}
.content {
    width: auto;
    padding: 20px;
    z-index: -1;
}
.to-up:hover{
    background: #666;
}
.header{
    height: 54px;
    display: block;
    position: relative;
}
.nav_menu{
    margin-top: 0px;
    
}
.navmenu{
    height: 40px;
}
.page-container {
    padding-top: 0px;
    margin-top: 0;
    height: calc(~"100% - 55px");
    overflow: hidden;
    width: 100%;
}
.el-select-dropdown__list{
    padding: 1px 0;
}