@charset "utf-8";

//浏览器ie版本小于10提示框样式
.browsehappy {
  margin: 0.2em 0;
  background: $gray-cc;
  color: $black;
  padding: 0.2em 0;
}

html, body {
  font-family: $font-family;
  background-color: $white;
  height: 100%;
  overflow: hidden;
}

.loadingdiv{
  color: $main-blue-color;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 9999;

  & > div {
    @include size(80px, 80px);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
  }
}

.text-bold{
  font-weight: bold;
}
.textnormal{
  border:1px solid $main-btn-border-color;
  &:focus{
    border:1px solid $main-btn-border-color!important;
  }
}
.btnfilter {
  background-color: $main-btn-border-color;
  border:1px solid $main-btn-border-color;
  color: $white;
  cursor: pointer;
}

.pagesecnav {
  @include size(100%, 70px);
  padding: 0 20px;
  text-align: center;
  overflow: hidden;
  > div:first-child {
    line-height: 70px;
  }
  > div:last-child {
    nav {
      height: 70px;
      li {
        a {
          background-color: $main-nav-bgcolor;
          border-color: $main-nav-bgcolor;
        }
      }
      li.active {
        span {
          background-color: $main-active-color;
          border-color: $main-active-color;
        }
      }
    }
  }
}

.navtab{
  height: 48px;
  line-height: 32px;
  background-color: $main-nav-bgcolor;
  border-bottom: 1px solid $gray-dd;
  margin: 0;
  color: $black;
}

.tableeditsec{
  @include fieldset;
}

.drag-vertical-line-dag{
  @include size(4px,100%);
  position: absolute;
  left: calc(100% - 360px);
  top:0;
  cursor: e-resize;

  &:hover{
    background-color: $blue-d3;
  }
}

.drag-horizontal-line-extend{
  @include size(100%,4px);
  position: absolute;
  left: 0;
  top: calc(100% - 334px);
  cursor: n-resize;
  z-index:20;

  &:hover{
    background-color: $blue-d3;
  }
}

.context-menu {
  margin: 0;
  @include box-shadow(2px 2px 5px 3px $main-border-color);
  @include transition;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;

  a {
    color: $main-left-fontcolor!important;
    border-width: 0;
    padding: 5px 10px;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #f9f9f9;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.ant-layout.ant-layout-has-sider{
    height:100%;
    &>.ant-layout{
        height:100%;
        padding:0 !important;
        &>.ant-layout-content{
            height:100%;
            padding:0 !important;
            &>.graph{
                height:100%;
            }
        }
    } 
    &>.ant-layout-sider{
        background: rgb(245,245,246);
        box-shadow:1px 1px 1px rgba(42,93,168,.25)
    }
}

/* Options */
.ant-select-dropdown{
  border-radius: 2px;
  border: 1px solid #ccc;
  .ant-select-dropdown-menu-item{
    font-size: 12px;
  }
}
/* Button */
button.ant-btn.ant-btn-primary{
  background-color: transparent;
  background: linear-gradient(to right, #77aaff, #7fc7ff);
  background: -moz-linear-gradient(to right, #77aaff, #7fc7ff);
  background: -webkit-linear-gradient(to right, #77aaff, #7fc7ff);
}

/* EmptyText */
.ant-list-empty-text{
  background-color: #fff;
}
