<template>
    <div class="img-uploader-preview-list">
        <div v-for="item in imageDataList" 
             :key="item.index"
             class="img-uploader-preview">
            <div class="preview-img">
                <img :src="item.img" class="imgsize"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return { 
            imageDataList: [{
                index: '1',
                img: '../../assets/zykj.png',
            }, {
                index: '2',
                img: '../../assets/mininglamp.png',
            }, {
                index: '3',
                img: '../../assets/zykj.png',
            }, {
                index: '4',
                img: '../../assets/mininglamp.png',
            }, {
                index: '5',
                img: '../../assets/zykj.png',
            }, {
                index: '6',
                img: '../../assets/mininglamp.png',
            }]
        }
    }
}
</script>

<style>
.imgsize{
    height: 100%;
    width: 100%;
}
.img-uploader-preview-list {
    margin: 5px 10px;
    height: calc(150px + 18px * 2);
    /*width: 100%;*/
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-overflow-scrolling: touch;
    text-align: center;
  }
  .img-uploader-preview {
    display: inline-block;
    z-index: 2;
    min-height: 50px;
    margin: 10px;
    border-radius: 10px;
    background: #333;
    transition: 0.3s cubic-bezier(0.3, 0, 0.2, 1);
  }
  .img-uploader-preview:hover {
    transform: scale(1.02);
  }
  .img-uploader-preview:hover .img-uploader-mask {
    display: block;
  }
  .img-uploader-preview:hover .img-uploader-delete-btn {
    display: block;
  }
  .img-uploader-preview .preview-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
</style>
