<template>
 <div>
  <h1 class="title">{{ title }}</h1>
  <p class="doc-p" v-for="(info,index) in infos">{{info}}</p>
  <p class="doc-p">{{info}}</p>
  <div>
    <h2 class="head-title">错误码对照表</h2>
    <table class="api-table" cellspacing="0">
      <thead><tr><th v-for="(t,index) in codeInfo.title">{{t}}</th></tr></thead> 
      <tbody>
        <tr v-for="(param,index) in codeInfo.content"><td>{{param.code}}</td><td>{{param.desc}}</td></tr>
      </tbody>
    </table>
  </div>
 </div>
</template>

<script>
export default {
  data () {
    return {
      title: '系统说明',
      infos: [
        '本系统用于展示模型对外提供服务的接口信息。',
        '为了保证通讯的安全性，采用HTTPS作为获取TOKEN接口通讯的协议，并且通过强制的令牌验证加强安全性。在数据格式方面，规范使用平台无关的JSON格式数据作为载体，封装查询请求和查询结果，数据里的敏感参数可以用MD5算法加密。'],
      codeInfo: {
        title: ['code响应码','说明'],
        content: [
            {code: 1000,desc: '成功'},
            {code: 2002,desc: '上送参数为空'},
            {code: 3102,desc: '获取token成功'},
            {code: 4001,desc: '没有这个用户或客户'},
            {code: 4002,desc: '您没有上送正确的token'},
            {code: 4003,desc: '您上送的token已超时，请重新获取'}
            
      ]},
    }
  },
  methods: {
  }
}
</script>
