<template>
 <div class="json-view">
    <div v-html="getJsonView"></div>
 </div>
</template>

<script>
import './jsonView.css'
import store from '../../store/api_json_example'

function htmlEncode(t) {
    return t != null ? t.toString().replace(/&/g, "&amp;").replace(/"/g, "&quot;").replace(/</g, "&lt;").replace(/>/g, "&gt;") : '';
}

function decorateWithSpan(value, className) {
    return '<span class="' + className + '">' + htmlEncode(value) + '</span>';
}

function valueToHTML(value) {
    var valueType = typeof value, output = "";
    if (value == null)
        output += decorateWithSpan("null", "type-null");
    else if (value && value.constructor == Array)
        output += arrayToHTML(value);
    else if (valueType == "object")
        output += objectToHTML(value);
    else if (valueType == "number")
        output += decorateWithSpan(value, "type-number");
    else if (valueType == "string")
        if (/^(http|https):\/\/[^\s]+$/.test(value))
            output += decorateWithSpan('"', "type-string") + '<a href="' + value + '">' + htmlEncode(value) + '</a>' + decorateWithSpan('"', "type-string");
        else
            output += decorateWithSpan('"' + value + '"', "type-string");
    else if (valueType == "boolean")
        output += decorateWithSpan(value, "type-boolean");

    return output;
}

function arrayToHTML(json) {
    var i, length, output = '<div class="collapser"></div>[<span class="ellipsis"></span><ul class="array collapsible">', hasContents = false;
    for (i = 0, length = json.length; i < length; i++) {
        hasContents = true;
        output += '<li><div class="hoverable">';
        output += valueToHTML(json[i]);
        if (i < length - 1)
            output += ',';
        output += '</div></li>';
    }
    output += '</ul>]';
    if (!hasContents)
        output = "[ ]";
    return output;
}

function objectToHTML(json) {
    var i, key, length, keys = Object.keys(json), output = '<div class="collapser"></div>{<span class="ellipsis"></span><ul class="obj collapsible">', hasContents = false;
    for (i = 0, length = keys.length; i < length; i++) {
        key = keys[i];
        hasContents = true;
        output += '<li><div class="hoverable">';
        output += '<span class="property">' + htmlEncode(key) + '</span>: ';
        output += valueToHTML(json[key]);
        if (i < length - 1)
            output += ',';
        output += '</div></li>';
    }
    output += '</ul>}';
    if (!hasContents)
        output = "{ }";
    return output;
}

function jsonToHTML(json, fnName) {
    var output = '';
    if (fnName)
        output += '<div class="callback-function">' + fnName + '(</div>';
    output += '<div id="json">';
    output += valueToHTML(json);
    output += '</div>';
    if (fnName)
        output += '<div class="callback-function">)</div>';
    return output;
}

var jsonModel = {
    template: 'sdf'
}

export default {

  data () {
    return {
    }
  },
  props: ['jsontype'],
  computed: {
    getJsonView(){
        var _path = this.$parent.path;
        if(this.jsontype){
            return jsonToHTML(store.state[_path][this.jsontype]);
        }
    }
  },
  methods: {

  }
}
</script>