<template>
  <div>
        <el-row>
          <el-col>
            <el-menu default-active="2" class="el-menu-vertical-demo" theme="dark">
              <router-link to="/doc/info">
                <el-menu-item index="1"><i></i>系统说明</el-menu-item>
              </router-link>
              <el-submenu index="2">
                <template slot="title"><i class="el-icon-menu"></i>鉴权信息</template>
                <router-link to="/doc/token">
                  <el-menu-item index="2-1">获取令牌</el-menu-item>
                </router-link>
              </el-submenu>
              <el-submenu index="3">
                <template slot="title"><i class="el-icon-menu"></i>模型接口</template>
                <el-submenu index="3-1">
                  <template slot="title"><i class="el-icon-menu"></i>贷后检查</template>
                  <router-link to="/doc/api/checkNormal">
                    <el-menu-item index="3-1-1">常规检查</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/checkFirst">
                    <el-menu-item index="3-1-2">首期检查</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/checkSpecial">
                    <el-menu-item index="3-1-3">特殊检查</el-menu-item>
                  </router-link>
                </el-submenu>
                <router-link to="/doc/api/cpvLoanIndByIndustryId">
                  <el-menu-item index="3-4">按行业统计指标</el-menu-item>
                </router-link>
                <router-link to="/doc/api/povertyRelifeByOrgid">
                  <el-menu-item index="3-5">机构的惠农易贷</el-menu-item>
                </router-link>
                <router-link to="/doc/api/potentialCusByOrgid">
                  <el-menu-item index="3-6">机构潜在客户</el-menu-item>
                </router-link>
                <el-submenu index="3-7">
                  <template slot="title"><i class="el-icon-menu"></i>集中用/还款情况</template>
                  <router-link to="/doc/api/loanConRepayByIdno">
                    <el-menu-item index="3-7-1">集中还款</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/loanConPayByIdno">
                    <el-menu-item index="3-7-2">集中用款</el-menu-item>
                  </router-link>
                </el-submenu>
                <el-submenu index="3-11">
                  <template slot="title"><i class="el-icon-menu"></i>客户综合视图</template>
                  <router-link to="/doc/api/cpvBaseInfoByIdno">
                    <el-menu-item index="3-11-1">客户的基本信息</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/modelOverdueCusinfoByIdno">
                    <el-menu-item index="3-11-2">客户的优质/不良评级</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/cpvLoanByIdno">
                    <el-menu-item index="3-11-3">客户个贷业务综合指标</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/creditMonthlyTransStatByIdno">
                    <el-menu-item index="3-11-4">客户信用卡交易</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/creditCardByIdno">
                    <el-menu-item index="3-11-5">客户信用卡相关信息</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/cpvAssetsByIdno">
                    <el-menu-item index="3-11-6">客户资产信息</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/cpvPosByIdno">
                    <el-menu-item index="3-11-7">客户POS信息</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/assetsMonthlyStatByIdno">
                    <el-menu-item index="3-11-8">客户储蓄交易12个月统计</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/unionHeadFiveParByIdno">
                    <el-menu-item index="3-11-9">贷前提醒信息整合</el-menu-item>
                  </router-link>
                </el-submenu>
                <router-link to="/doc/api/modelPotentialCusByIdno">
                  <el-menu-item index="3-17">潜客相关信息</el-menu-item>
                </router-link>
                <router-link to="/doc/api/moreThanMillionInWeekByOrgid">
                  <el-menu-item index="3-18">同一支行一周放款</el-menu-item>
                </router-link>
                <router-link to="/doc/api/modelAuthCmpCurrByUserid">
                  <el-menu-item index="3-19">信贷员的权限信息</el-menu-item>
                </router-link>
                <router-link to="/doc/api/accountNotBelongByIdno">
                  <el-menu-item index="3-20">放款账号非本人</el-menu-item>
                </router-link>
                <el-submenu index="3-21">
                  <template slot="title"><i class="el-icon-menu"></i>风险监控</template>
                  <router-link to="/doc/api/multiLoanBoth">
                    <el-menu-item index="3-21-1">贷款复议调查</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/multiLoanAgriInfo">
                    <el-menu-item index="3-21-2">借新还旧调查</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/multiLoanRelInfo">
                    <el-menu-item index="3-21-3">内部关系人贷款调查</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/cusCreditPurpose">
                    <el-menu-item index="3-21-4">授信用途调查</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/transEightyPercentToOtherByIdno">
                    <el-menu-item index="3-21-5">放款额80%转给非本人账户</el-menu-item>
                  </router-link>
                </el-submenu>
                <el-submenu index="3-22">
                  <template slot="title"><i class="el-icon-menu"></i>三农贷还款预测</template>
                  <router-link to="/doc/api/reserveCustList">
                    <el-menu-item index="3-22-1">客户优先储备</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/loseCustList">
                    <el-menu-item index="3-22-2">流失客户监控</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/predictKindLoanRefundInfo">
                    <el-menu-item index="3-22-3">三农贷款贷种还款预测</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/predictOrgRefundInfo">
                    <el-menu-item index="3-22-4">三农贷款机构还款预测</el-menu-item>
                  </router-link>
                </el-submenu>
                <router-link to="/doc/api/riskOverdueForManyApp">
                  <el-menu-item index="3-26">三农风险专题</el-menu-item>
                </router-link>
                <router-link to="/doc/api/grossAmountByOrg">
                  <el-menu-item index="3-27">国标行业用款周期</el-menu-item>
                </router-link>
                <el-submenu index="3-30">
                  <template slot="title"><i class="el-icon-menu"></i>三农行业风险分析</template>
                  <router-link to="/doc/api/indCorrelationInd">
                    <el-menu-item index="3-30-1">细分行业关联关系挖掘</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/custIndustryInfoByIdno">
                    <el-menu-item index="3-30-2">细分行业数据挖掘</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/newsCategoryInfo">
                    <el-menu-item index="3-30-3">行业新闻情感倾向数据挖掘</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/newsIndustryInfo">
                    <el-menu-item index="3-30-4">行业新闻与细分行业关系</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/userLoanIndustrys">
                    <el-menu-item index="3-30-5">用户与细分行业关系数据挖掘</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/cusAddrInfoByCusId">
                    <el-menu-item index="3-30-6">客户地理位置信息</el-menu-item>
                  </router-link>
                  <router-link to="/doc/api/areaTopIndustry">
                    <el-menu-item index="3-30-7">区域行业热度分析</el-menu-item>
                  </router-link>
                </el-submenu>
                <router-link to="/doc/api/customerCreditLevel">
                  <el-menu-item index="3-35">客户信用评估</el-menu-item>
                </router-link>
              </el-submenu>
            </el-menu>
          </el-col>
          <div class="page-main">
            <el-row>
                <el-col :span="24">
                    <el-breadcrumb sperator="/" class="wrapper">
                        <el-breadcrumb-item :to="{path: '/doc'}">首页</el-breadcrumb-item>
                        <el-breadcrumb-item :to="{path: '/doc/api/cpvLoanIndByIndustryId'}">测试</el-breadcrumb-item>
                    </el-breadcrumb>
                </el-col>
            </el-row>
            <router-view class="main-wrap"></router-view>
          </div>
        </el-row>
  </div> 

</template>

<script>
export default {
  data () {
    return {
      msg: 'Use Vue 2.0 Today!'
    }
  },

  methods: {
    startHacking () {
      this.$notify({
        title: 'It Works',
        message: 'We have laid the groundwork for you. Now it\'s your time to build something epic!',
        duration: 6000
      })
    },
    handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
    handleSelect(key,keyPath){
      console.log(key, keyPath);
    }
  }
}
</script>

<style>
.page-main{
  margin-left: 200px;
  background: #efefef;
}
.main-wrap{
  font-size: 15px;
  padding-bottom: 1em;
  padding: 20px;
  padding-top: 0;
}
.panel{
  background: #fff;
}
.main-wrap h1.title{
  padding-bottom: 20px;
  font-size: 28px;
  border-bottom: 1px solid #dedede;
}
h1{margin-bottom: 0.5em;}
p.doc-p{
  padding: 0 0 1.5em;
}
h2.head-title{
  font-size: 18px;
  font-weight: bold;
  margin: 1.5em 0;
}
table.api-table{  border-collapse: collapse;}
.api-table th,.api-table td{
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}
.api-table th,.api-table-th:hover{
  background: #324157;
  color: #DDD;
}
th,td{float: none!important;}
.main-wrap code{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #ebebeb;
  position: relative;
  background-color: #F0F0F0;
  padding: 15px;
  margin: 0;
  display: block;
}
.main-wrap .try{
  margin: 10px 0;
}
.main-wrap .try>.el-button{
  padding: 5px 15px;
  border-radius: 15px;
}
.main-wrap .try a.try-btn{
  color: #FFF;
  padding: 5px 15px;
  border-radius: 20px;
  background: #67B036;
}
.main-wrap .try a.try-btn:hover{background: #89CA5D;}
.el-menu-vertical-demo{
  height: 100%;
  float: left;
  width: 200px;
  position: absolute;
  background-color: #324157;
}
</style>
