<template>
 <div>
  <h1 class="title">{{ title }}</h1>
  <div>
    <h2 class="head-title">验证机制</h2>
    <p class="doc-p">
        客户在正式向系统发送验证请求之前，需要首先根据合作方标识和合作方密钥，通过HTTPS协议使用POST方法调用/LOGIN接口获取给予HTTPS访问令牌（TOKEN），后续基于HTTPS的POST请求需包含这个TOKEN。TOKEN在一段时间内会过期，如果系统在为某次POST请求做TOKEN验证时发现已经过期，会通过响应来告知客户端TOKEN无效，客户端需要重新获取TOKEN，重复上述过程。图2.1展示了完整的通信过程，图中蓝色的箭头表示令牌的请求和响应动作，橙色箭头表示数据的请求和响应动作，省略号表示重复整个过程。
    </p>
    <div class="center"><img src="../../assets/token_way.png"/></div>
  </div>
  <div>
    <h2 class="head-title">请求方式</h2>
    <p >传输方式：https
    </p>
    <p >请求方式：Post
    </p>
    <p>请求地址：{{requestUrl}}
    </p>
    <p >请求头部信息：content-type: application/json;charset=UFT-8
    </p>
    <div class="try"><a class="try-btn" :href=tryUri target="_blank">试一试</a></div>
  </div>
  <div>
    <h2 class="head-title">输入参数</h2>
    <table class="api-table" cellspacing="0">
      <thead><tr><th v-for="(t,index) in requestParams.title">{{t}}</th></tr></thead>
      <tbody>
        <tr v-for="(param,index) in requestParams.content"><td>{{param.cnName}}</td><td>{{param.enName}}</td><td>{{param.required}}</td><td>{{param.type}}</td><td>{{param.desc}}</td></tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2 class="head-title">结果示例</h2>
    <p>响应报文</p>
    <json-view jsontype="inParam"></json-view>
  </div>
  <div>
    <h2 class="head-title">输出参数</h2>
    <table class="api-table" cellspacing="0">
      <thead><tr><th v-for="(t,index) in responseParams.title">{{t}}</th></tr></thead>
      <tbody>
        <tr v-for="(param,index) in responseParams.content"><td>{{param.cnName}}</td><td>{{param.enName}}</td><td>{{param.required}}</td><td>{{param.type}}</td><td>{{param.desc}}</td></tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2 class="head-title">结果示例</h2>
    <p>响应报文</p>
    <json-view jsontype="outParam"></json-view>
  </div>
 </div>
</template>

<script>
import jsonView from './jsonView.vue'

export default {
  components: {
    jsonView
  },
  data () {
    return {
      title: '获取令牌',
      requestUrl: 'http://21.32.95.248:8088/modelService/authority/token.json ',
      requestParams: {
        title: ['中文名','英文名','必填','类型','备注'],
        content: [
            {cnName: '用户ID',enName: 'userid',required: '必填',type: 'String',desc: '这是由接口项目后台创建并分配'},
            {cnName: '密码',enName: 'password',required: '必填',type: 'String',desc: '这是由接口项目后台创建并分配'}
      ]},
      responseParams: {
        title: ['中文名','英文名','必填','类型','备注'],
        content: [
            {cnName: '响应吗描述',enName: 'message',required: '必填',type: 'String',desc: '详见错误对照码'},
            {cnName: '响应吗',enName: 'code',required: '必填',type: 'String',desc: '详见错误对照码'},
            {cnName: 'Token',enName: 'token',required: '必填',type: 'String',desc: '被授予权限通过接口访问数据的令牌'},
            {cnName: 'Token失效时间',enName: 'expires',required: '必填',type: 'String',desc: '超时时间戳(毫秒)'}
      ]},
      tryUri: 'http://21.32.95.248:8088/modelService/swagger.json#!/authority/authority',
      path: 'getToken'
    }
  },
  watch: {
  },
  methods: {
    fetchData(){
    }
  }
}
</script>

