<template>
    <!-- 总页面 -->
    <div class="pageDiv" style="padding:10px;">
        <!-- 查询表单 -->
        <div class="listFormDiv">
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="地市">
                    <el-cascader
                        v-model="formInline.ds"
                        :options="cities"
                        placeholder="请选择"
                        filterable
                        size="small"
                        change-on-select />
                </el-form-item>
                <el-form-item label="机构">
                    <el-select v-model="formInline.jg" size="small" placeholder="请选择" >
                        <el-option
                            v-for="item in institutions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="业务种类">
                    <el-select v-model="formInline.ywzl" size="small" placeholder="请选择" >
                        <el-option
                            v-for="item in ywzl"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="时间">
                    <el-date-picker
                        :picker-options="pickerOptions"
                        v-model="formInline.dataValue"
                        type="daterange"
                        align="right"
                        unlink-panels
                        size="mini"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"/>
                </el-form-item>
                <el-form-item>
                    <el-button class="primaryButton" size="small" type="primary" @click="search">查询</el-button>
                    <el-button class="primaryButton" size="small" type="primary" @click="choucha">发起抽查</el-button>
                </el-form-item>
            </el-form>
        </div>
        <!-- 表格展示 -->
        <div class="listMainDiv">
            <el-table 
                :data="mainTableData" 
                :header-cell-style="headStyle"
                :cell-style="cellStyle"
                type="index" 
                border 
                size="small"
                style="width: 100%" 
                height="450">
                <el-table-column :index="indexMethod" prop="hx" label="序号" width="50"/>
                <el-table-column prop="ds" label="地市" />
                <el-table-column prop="jg" label="机构" />
                <el-table-column prop="ywzl" label="业务种类" />
                <el-table-column prop="blsj" label="办理时间" />
                <el-table-column prop="ywsl" label="业务数量" />
                <el-table-column prop="zt" label="状态"/>
                <el-table-column prop="cz" label="操作">
                    <template slot-scope="scope">
                        <el-button type="warning" size="mini" @click="handleClick(scope.row)">检查</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div align="center">
                <el-pagination
                    :current-page="currentPage"
                    :page-size="pagesize"
                    :total="totalCunt"
                    layout="prev,pager,next,jumper"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange" />
            </div>
        </div>
        <!-- 发起抽查弹框 -->
        <div>
            <el-dialog :visible.sync="dialogFormVisible" width="70%" title="抽查" >
                <div class="formDiv">
                    <el-form :inline="true" :model="formInline" class="demo-form-inline">
                        <el-form-item label="地市" class="labelForm">
                            <el-cascader
                                v-model="formInline.ds"
                                :options="cities"
                                placeholder="请选择"
                                filterable
                                size="small"
                                change-on-select />
                        </el-form-item>
                        <el-form-item label="机构">
                            <el-select v-model="formInline.jg" size="small" placeholder="请选择" >
                                <el-option
                                    v-for="item in institutions"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value"/>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="业务种类">
                            <el-select v-model="formInline.ywzl" size="small" placeholder="请选择" >
                                <el-option
                                    v-for="item in ywzl"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value"/>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="时间">
                            <el-date-picker
                                :picker-options="pickerOptions"
                                v-model="formInline.dataValue"
                                type="daterange"
                                align="right"
                                unlink-panels
                                size="mini"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"/>
                        </el-form-item>
                        <el-form-item label="抽查数量">
                            <el-select v-model="formInline.ccsl" size="small" placeholder="10" >
                                <el-option
                                    v-for="item in ccsl"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value"/>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button class="primaryButton" size="small" type="primary" @click="search">查询</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <!-- 抽查表格 -->
                <div>
                    <el-table 
                        :data="chouchaTableData" 
                        type="index" 
                        border 
                        size="small"
                        style="width: 100%" 
                        height="250">
                        <el-table-column :index="indexMethod" prop="hx" label="序号" width="50"/>
                        <el-table-column prop="hpzl" label="号牌种类" />
                        <el-table-column prop="hphm" label="号牌号码" />
                        <el-table-column prop="ywzl" label="业务种类" />
                        <el-table-column prop="blsj" label="办理时间" />
                        <el-table-column prop="dasl" label="档案数量" />
                        <el-table-column prop="zjcjsj" label="最近采集时间"/>
                    </el-table>
                    <el-button class="primaryButton" size="small" type="primary" @click="saveChoucha">保存为任务</el-button>
                </div>
            </el-dialog>
        </div>
        <!-- 检查弹框 -->
        <div>
            <el-dialog :visible.sync="checkDialogFormVisible" width="70%" title="检查" >
                <!-- 检查表格 -->
                <div>
                    <el-table 
                        :data="mainTableData" 
                        type="index" 
                        border 
                        size="small"
                        style="width: 100%" 
                        height="400">
                        <el-table-column type="expand" width="50">
                            <template slot-scope="props">
                                <!-- 图片预览 -->
                                <div class="imgDiv">
                                    <pictureOperation :img="img" :ms="ms"/>
                                </div>
                                <!-- 图片选择 -->
                                <div class="img-uploader-preview-list">
                                    <el-carousel :autoplay="autoplay" type="card" height="200px">
                                        <el-carousel-item 
                                            v-for="item in imageDataList" 
                                            :key="item.index"
                                            :img="item.img"
                                            :descreber="item.descreber"
                                            :index="item.index">
                                            <el-tooltip class="item" effect="dark" :content="'材料' + item.index + ':' + item.descreber" placement="bottom-end">
                                                <img :src="item.img" class="imgsize" @click="getImg(item.img)" />
                                            </el-tooltip>
                                        </el-carousel-item>
                                    </el-carousel>
                                </div>
                                <!-- 判断是否合格操作 -->
                                <div class="radioDiv">
                                    <el-radio-group v-model="radio" size="small">
                                        <el-radio-button label="合格"/>
                                        <el-radio-button label="不合格"/>
                                    </el-radio-group>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column :index="indexMethod" prop="hx" label="序号" width="50"/>
                        <el-table-column prop="ds" label="地市" />
                        <el-table-column prop="jg" label="机构" />
                        <el-table-column prop="ywzl" label="业务种类" />
                        <el-table-column prop="blsj" label="办理时间" />
                        <el-table-column prop="ywsl" label="档案数量" />
                        <el-table-column prop="zt" label="状态"/>
                    </el-table>
                </div>
            </el-dialog>
        </div>
    </div>
</template>

<script>
import pictureOperation from '../publicComponent/potoComponent'
export default {
    components: {
        pictureOperation
    },
    data() {
        return {
            checkDialogFormVisible: false,
            autoplay: false,
            radio: '合格',
            img: '',
            ms: '',
            imageDataList: [{
                index: '1',
                img: '../../assets/zltp/sfzzm.png',
                descreber: '身份证正面'
            }, {
                index: '2',
                img: '../../assets/zltp/sfzfm.jpg',
                descreber: '身份证反面'
            }, {
                index: '3',
                img: '../../assets/zltp/jdchgz.jpg',
                descreber: '机动车整车出厂合格证明'
            }, {
                index: '4',
                img: '../../assets/zltp/jdcgszm.jpg',
                descreber: '车辆购置税的完税证明'
            }, {
                index: '5',
                img: '../../assets/zltp/jdcbxzm.jpg',
                descreber: '机动车交通事故责任强制保险凭证'
            }, {
                index: '6',
                img: '../../assets/zltp/jdczcdj.jpg',
                descreber: '机动车注册登记表'
            }],
            chouchaTableData: [{
                hpzl: '大型客车',
                hphm: '冀A02992',
                ywzl: '注册登记',
                blsj: '2018.07.18',
                dasl: '8',
                zjcjsj: '2018.07.19',
            }, {
                hpzl: '小型汽车',
                hphm: '冀A04542',
                ywzl: '车辆报废',
                blsj: '2018.07.18',
                dasl: '7',
                zjcjsj: '2018.07.19',
            }, {
                hpzl: '农用汽车',
                hphm: '冀A04592',
                ywzl: '注册登记',
                blsj: '2018.07.18',
                dasl: '8',
                zjcjsj: '2018.07.18',
            }, {
                hpzl: '大型客车',
                hphm: '冀A02662',
                ywzl: '注册登记',
                blsj: '2018.07.18',
                dasl: '8',
                zjcjsj: '2018.07.18',
            }],
            dialogFormVisible: false,
            pageNo: 1,
            pagesize: 18,
            start: 1,
            totalCunt: 100,
            currentPage: 1,
            indexMethod: 1,
            formInline: {
                ds: [],
                jg: [],
                hpzl: [],
                hphm: [],
                dataValue: [],
                ccsl: []
            },
            ccsl: [{
                value: '10',
                label: '10'
            }, {
                value: '20',
                label: '20'
            }, {
                value: '30',
                label: '30'
            }, {
                value: '50',
                label: '50'
            }, {
                value: '100',
                label: '100'
            }],
            ywzl: [{
                value: '登记注册',
                label: '登记注册'
            }, {
                value: '车牌回收',
                label: '车牌回收'
            }, {
                value: '车辆更换',
                label: '车辆更换'
            }, {
                value: '车辆年检',
                label: '车辆年检'
            }, {
                value: '车辆过户',
                label: '车辆过户'
            }],
            institutions: [{
                value: '石家庄市交管所',
                label: '石家庄市交管所'
            }, {
                value: '张家口市交管所',
                label: '张家口市交管所'
            }, {
                value: '沧州市交管所',
                label: '沧州市交管所'
            }, {
                value: '保定市交管所',
                label: '保定市交管所'
            }, {
                value: '衡水市交管所',
                label: '衡水市交管所'
            }],
            cities: [{
                value: '',
                label: '请选择',
            }, {
                value: '石家庄',
                label: '石家庄',
                children: [{
                    value: '桥西区',
                    label: '桥西区',
                }, {
                    value: '鹿泉',
                    label: '鹿泉',
                }, {
                    value: '赵县',
                    label: '赵县',
                }]
            }, {
                value: '张家口市',
                label: '张家口市',
                children: [{
                    value: '涿鹿县',
                    label: '涿鹿县',
                }, {
                    value: '怀来县',
                    label: '怀来县',
                }, {
                    value: '崇礼县',
                    label: '崇礼县',
                }, {
                    value: '张北县',
                    label: '张北县',
                }]
            }, {
                value: '沧州市',
                label: '沧州市',
                children: [{
                    value: '沧县',
                    label: '沧县'
                }, {
                    value: '肃宁县',
                    label: '肃宁县'
                }, {
                    value: '青县',
                    label: '青县'
                }, {
                    value: '献县',
                    label: '献县'
                }, {
                    value: '海兴县',
                    label: '海兴县'
                }]
            }, {
                value: '保定市',
                label: '保定市',
                children: [{
                    value: '涞水县',
                    label: '涞水县'
                }, {
                    value: '曲阳县',
                    label: '曲阳县'
                }, {
                    value: '涞源县',
                    label: '涞源县'
                }, {
                    value: '唐县',
                    label: '唐县'
                }]
            }],
            mainTableData: [{
                ds: '石家庄市',
                jg: '石家庄市交管一所',
                ywzl: '登记注册',
                blsj: '2018.07.18',
                ywsl: '10',
                zt: '完成'
            }, {
                ds: '石家庄市',
                jg: '石家庄市交管一所',
                ywzl: '登记注册',
                blsj: '2018.07.19',
                ywsl: '10',
                zt: '完成'
            }, {
                ds: '石家庄市',
                jg: '石家庄市交管一所',
                ywzl: '登记注册',
                blsj: '2018.07.20',
                ywsl: '10',
                zt: '完成'
            }, {
                ds: '石家庄市',
                jg: '石家庄市交管一所',
                ywzl: '登记注册',
                blsj: '2018.07.21',
                ywsl: '10',
                zt: '完成'
            }, {
                ds: '石家庄市',
                jg: '石家庄市交管一所',
                ywzl: '登记注册',
                blsj: '2018.07.22',
                ywsl: '10',
                zt: '完成'
            }, {
                ds: '石家庄市',
                jg: '石家庄市交管一所',
                ywzl: '登记注册',
                blsj: '2018.07.23',
                ywsl: '10',
                zt: '完成'
            }, {
                ds: '石家庄市',
                jg: '石家庄市交管一所',
                ywzl: '登记注册',
                blsj: '2018.07.24',
                ywsl: '10',
                zt: '完成'
            }, {
                ds: '石家庄市',
                jg: '石家庄市交管一所',
                ywzl: '登记注册',
                blsj: '2018.07.25',
                ywsl: '10',
                zt: '完成'
            }, {
                ds: '石家庄市',
                jg: '石家庄市交管一所',
                ywzl: '登记注册',
                blsj: '2018.07.26',
                ywsl: '10',
                zt: '完成'
            }, {
                ds: '石家庄市',
                jg: '石家庄市交管一所',
                ywzl: '登记注册',
                blsj: '2018.07.27',
                ywsl: '10',
                zt: '完成'
            }, {
                ds: '石家庄市',
                jg: '石家庄市交管一所',
                ywzl: '登记注册',
                blsj: '2018.07.28',
                ywsl: '10',
                zt: '完成'
            }],
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 7))
                        picker.$emit('pick', [start, end])
                    }
                }, {
                    text: '最近一个月',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 30))
                        picker.$emit('pick', [start, end])
                    }
                }, {
                    text: '最近三个月',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 90))
                        picker.$emit('pick', [start, end])
                    }
                }]
            },
        }
    },
    methods: {
        // 表格头样式
        headStyle(){
            return 'background: #999999; color:whitesmoke; text-align:center;'
        },
        // 表格样式
        cellStyle(){
            return 'background-color: #F0FFF0; color: black; text-align:center;'
        },
        // 保存抽查方法
        saveChoucha(){

        },
        // 点击图片预览方法
        getImg(imgurl){
            this.img = imgurl
            console.log(imgurl)
        },
        // 查找方法
        search(){
            console.log(this.formInline.ds)
        },
        // 检查的方法
        handleClick(row){
            console.log(row.ds)
            this.checkDialogFormVisible = true
        },
        // 发起抽查方法
        choucha(){
            this.dialogFormVisible = true
        },
        handleSizeChange(val) {
            this.pagesize = val
        },
        handleCurrentChange(val){
            this.currentPAge = val
            this.pageNo = val
        },
    }
}
</script>
<style scoped>
.listFormDiv{
    width: 100%;
    height:20%
}
.listMainDiv{
    width: 100%;
    height:80%
}
 .piDiv {
      height: 800px;
      width: 100%;
}
.labelForm{
    color: black;
}
.imgsize{
    height: 100%;
    width: 100%;
}
.img-uploader-preview-list {
    margin: 5px 10px;
    height: 200px;
    width: 40%;
    white-space: nowrap;
    overflow: auto;
    overflow-x: auto;
    -webkit-backface-visibility: auto;
    -webkit-perspective: 1000;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    float: right;
  }
  .img-uploader-preview {
    display: inline-block;
    z-index: 2;
    min-height: 100px;
    margin: 10px;
    border-radius: 10px;
    background: #333;
    transition: 0.3s cubic-bezier(0.3, 0, 0.2, 1);
  }
  .img-uploader-preview:hover {
    transform: scale(1.02);
  }
  .img-uploader-preview:hover .img-uploader-mask {
    display: block;
  }
  .img-uploader-preview:hover .img-uploader-delete-btn {
    display: block;
  }
  .img-uploader-preview .preview-img {
    width: 100px;
    height: 100px;
    overflow: auto;
  }
  .imgDiv{
    width: 50%;
    height: 250px;
    float: left;
  }
  .bottom[data-v-5902c0db] {
    margin-top: -25px;
    line-height: 12px;
    }
   .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  .bottom{
    margin-top: -30px!important;
    line-height: 12px;
    }
</style>  
