<template>
    <div class="basicInformation">
        <transition name="tableInformation">
            <ul v-show="isShow" :style="{width:tableinforWho + '%'}" border class="tableInformation tableInformation-enter-to" >
                <!-- 基本信息 -->
                <el-form class="demo-table-expand">
                    <el-form-item label="实例名称：">
                        <span>
                            {{ basic.objName }}
                        </span>
                    </el-form-item>
                    <hr/>
                    <el-form-item label="实例类型：">
                        <span>
                            {{ basic.objType }}
                        </span>
                    </el-form-item> 
                    <hr/>
                    <el-form-item label="数据大小：">
                        <span>
                            {{ basic.objSize }}K
                        </span>
                    </el-form-item>
                    <hr/>
                    <el-form-item label="数据条数：">
                        <span>
                            {{ basic.objCount }}条
                        </span>
                    </el-form-item>
                    <hr/>
                </el-form>
            </ul>
        </transition>
        <!-- 字段信息 -->
        <transition name="fieldInformation">
            <div v-show="isShow" class="fieldInformation fieldInformation-enter-to" >
                <el-table 
                    :data="columns" 
                    style="width: 100%;height:100%;" >
                    <!-- <el-table-column prop="tableName" label="表名称" width="180"/> -->
                    <el-table-column prop="columnName" label="字段名称" width="180"/>
                    <el-table-column prop="comments" label="字段描述" width="200"/>
                    <el-table-column prop="dataType" label="字段类型" width="180"/>
                    <!-- <el-table-column prop="colTypeDesc" label="类型描述" width="180"/>
                    <el-table-column prop="dataLength" label="字段长度" width="80"/>
                    <el-table-column prop="dataPrecision" label="数据精度" width="180"/>
                    <el-table-column prop="dataScale" label="数据规模" width="180"/> -->
                </el-table>
            </div>
        </transition>
    </div>
</template>

<script>
import utils from 'common/utils'
const {
    mapState,
    mapActions
} = utils

export default {
    props: {
        fieldinforWho: {
            type: Number,
            required: true
        },
        tableinforWho: {
            type: Number,
            required: true
        },
    },
    // data用于定义属性
    data() {
        return {
            tableName: '',
            isShow: false
        }
    },
    computed: mapState({
        basic: state => state.basicInformation.basic,
        columns: state => state.basicInformation.columns,
        objectId: state => {
            return state.obj.objectId
        }
    }),
    updated: function () {
        this.isShow = true
    },
    mounted: function () {
        this.$store.watch(
            state => state.obj.objectId,
            () => {
                if (this.objectId){
                    this.getBasicInformation({ 
                        data: { criteria: { owner: 'pdata', tableName: this.objectId } }
                    })
                }
                // 请求表基本信息
                this.getTableInformation({
                    data: { criteria: { owner: 'PDATA', objName: this.objectId } } 
                })
            }
        )
    },
    // method用于定义函数
    methods: {
        ...mapActions([
            'getBasicInformation',
            'getTableInformation'
        ]),
    }
} 
</script>

<style>
    hr {
        border:none;height:1px;background-color:#e3e3e3; margin:0px;padding:0px;
    }
    .el-table, .el-table__expanded-cell {
        background-color: rgba(0, 0, 0, 0)!important;
        color: #fff;
    }
    .el-table thead {
        color: #fff;
    }
    .el-table th, .el-table tr {
        background-color: rgba(0, 0, 0, 0)!important;
    }
    /* .el-tabs__content{
        height:-moz-calc(100% - 39px);
        height:-webkit-calc(100% - 39px);
        height:calc(100% - 39px);
    }
    .el-tab-pane{height: 100%;}
    .el-table__body-wrapper{
        height:-moz-calc(100% - 48px);
        height:-webkit-calc(100% - 48px);
        height:calc(100% - 48px);
        overflow: auto;
    } */
    .el-form-item__label {
        color: #fff;
        font-size: 14px;
    }
</style>

<style scoped>
    .el-form-item {
        color: #fff;
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;   
    }

    /* 展示动画 */
    .tableInformation-enter-active, .tableInformation-leave-active {
        transition: opacity 1s;
    }
    .tableInformation-enter, .tableInformation-leave-to {
        opacity: 0;
    }
    /* 展示动画 */
    .fieldInformation-enter-active, .fieldInformation-leave-active {
        transition: opacity 1s;
    }
    .fieldInformation-enter, .fieldInformation-leave-to {
        opacity: 0;
    }
    .addHeight{height:60%}
    .rightcontentHeight{height:95%}

    
    .basicInformation {
        padding: 0 150px;
        height: 100%;
    }
    .fieldInformation {
        float: right;
        margin-right: -25px;
    }
    .tableInformation {
        float: left;
        clear: both;
        width: 40%;
        margin: 20px
    }
    .demo-table-expand {
        font-size: 0;
    }
    .demo-table-expand label span {
        width: 90px;
        color: #fff;
        font-size: 14px;
    }
    .demo-table-expand .el-from-item {
        margin-right: 0%;
        margin-bottom: 0%;
        width: 60%;
    }
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }
    .del-dialog-cnt{
        font-size: 16px;
        text-align: center
    }
</style>
