<template>
    <div>
        <!-- <h1>cose dome</h1> -->
        <div style="display:none">{{ elementsdata }}</div>
      
        <div ref = "cy" style="height: 950px;" />
    </div>
</template>

<script>
import cytoscape from 'cytoscape'  
import cytoscapeData from './cytoscapeData'
import utils from '../../common/utils'
import { getData } from './cygetdata'
const { mapActions } = utils 


export default{
    name: 'Graph',
    props: {
        elementsdata: {
            type: Array,
            required: true,
        },
    },
    data(){
        // debugger
        return {
            // counter: this.elementsdata,
            cy: null
        }
    },
    watch: {
        elementsdata: function (newVal){
            this.drawGraph(newVal)
        }
    },
    mounted: function (){
    },
    updated: function (){
        this.drawGraph(this.elementsdata)
    },
    methods: {
        // 增加节点的点击事件
        addNodeData(nodeName, type){
            // 通过节点名称取获取数据
            const that = this
            that.cyGetAllData({
                data: { criteria: { owner: 'PDATA', objType: type, objName: nodeName, stat: 'A' } }
            }).then((res) => {
                const tempdata = getData.transData(res)
                that.cy.add(tempdata)
            })
        },
        drawGraph(elementsdata){
            if (this.cy){
                console.log('更新了数据，最新的数据是：' + this.cy)
                this.cy.remove(this.cy.elements())
                this.cy.add(elementsdata)
            } else if (elementsdata && this.$refs.cy.clientWidth){
                this.cy = cytoscape({
                    // 获取画布元素
                    container: this.$refs.cy,
                    // 描绘画布元素
                    // 布局属性
                    layout: cytoscapeData.layout,
                    // 样式属性
                    style: cytoscapeData.styleData,
                    // 元素单元属性
                    elements: elementsdata
                })
                console.log('初始了画布')
                console.log(this.cy)
                const that = this
                this.cy.on('tap', 'node', (evt) => {
                    const node = evt.target
                    that.addNodeData(node.data().name, node.data().group)
                })
            }
        },
        ...mapActions([
            'cyGetAllData'
        ])
    },
}
</script>
<style scoped>
    @import '../../assets/css/style.css'
</style>
