.runlog-main{
    margin:45px;
    max-height:-moz-calc(100% - 45px);
    max-height:-webkit-calc(100% - 45px);
    max-height:calc(100% - 45px);
    .el-table__body-wrapper{
        height:-moz-calc(100% - 48px);
        height:-webkit-calc(100% - 48px);
        height:calc(100% - 48px);
        overflow: auto!important;
    }
    .icon-img{
        margin-left: 40%;
        height: 14px;
        background: transparent no-repeat 50% 50%;
        &.running{
            background-image: url("@{baseUrl}/assets/u169.png");
        }
        &.success{
            background-image: url("@{baseUrl}/assets/u166.png");
        }
        &.fail{
            background-image: url("@{baseUrl}/assets/u165.png");
        }
    }
    .search-input{
        float: right;
        width: 150px;
        margin-bottom: 10px;
        .el-input__inner{
            background-color: transparent;
            color: #EFEFEF;
        }
    }
}