.timeline-main{
    width:100%;
    height:100%;
    overflow:auto;
    min-width: 630px;
    &::-webkit-scrollbar{width:0px;height:3px;}
    &::-webkit-scrollbar-button{display:none;}
    &::-webkit-scrollbar-thumb{background:#DFDFDF;}

    .timeline-block{
        width:100%;
        height:61px;
        overflow: visible;
        .timeline-text-block{
            float: left;
            width:-moz-calc(~"50% - 6px");
            width:-webkit-calc(~"50% - 6px");
            width:calc(~"50% - 6px");
            height:61px;
            overflow: visible;
        }
        .timeline-text-left{
            text-align: right;
            .line-h{
                float: right;
            }
            .whitedot{
                right: 58px;
            }
            .timeline-text{
                float: right;
                border-right: 1px solid #fff;
                span{
                    margin-right: 10px;
                }
            }
        }
        .line-block{
            height:61px;
            width:11px;
            float: left;
            .linebox{
                width:5px;
                height: 25px;
                margin-left: 5px;
            }
            .line{
                border-left:1px solid #fff; 
            }
            .dot{
                width:inherit;
                height: 11px;
                position: relative;
            }
            .dotImg{
                width:11px;
                height: 11px;
                position: absolute;
                top: 0;
                left: 0;
                background: transparent no-repeat 50% 50%;
                &.java{
                    background-image: url("@{baseUrl}/assets/javaDot.png");
                }
                &.job{
                    background-image: url("@{baseUrl}/assets/jobDot.png");
                }
                &.shell{
                    background-image: url("@{baseUrl}/assets/shellDot.png");
                }
                &.procedure{
                    background-image: url("@{baseUrl}/assets/procedureDot.png");
                }
            }
        }
        .timeline-text-right{
            text-align: left;
            .line-h{
                float: left;
            }
            .whitedot{
                left: 58px;
            }
            .timeline-text{
                float: left;
                border-left: 1px solid #fff;
                span{
                    margin-left: 10px;
                }
            }
        }
        .line-h{
            width:60px;
            height: 61px;
            position: relative;
        }
        hr {border:none;
            height:1px;
            background-color:#e3e3e3;
            margin:0px;
            padding:0px;
            top: 30px;
            width: 60px;
            position: absolute;    
        }
        .whitedot{
            background-color:#e3e3e3;
            position: absolute;
            width:5px;
            height: 5px;
            border-radius: 2px;
            top:28px;
            box-shadow: 0px 0px 5px #fff;
        }
        .timeline-text{
            height: auto;
            border-bottom: 1px solid #fff;
            border-radius: 10px;
            padding: 8px 14px;
            color:#fff;
            max-width: 80%;
            span{
                font-size: 12px;
                font-family: '微软雅黑';
                line-height: 20px;
            }
        }
    }
}