<template>
 <div>
    <div class="panel wrapper">
      <h1 class="title">{{ api.title }}</h1>
      <div>
        <h2 class="head-title">概述</h2>
        <div v-for="(brief,index) in api.briefs" v-html="brief"></div>
        <h2 class="head-title">请求方式</h2>
        <p >传输方式：https
        </p>
        <p >请求方式：Post
        </p>
        <p>请求地址：{{api.requestUrl}}
        </p>
        <p >请求头部信息：content-type: application/json;charset=UFT-8
        </p>
        <div class="try"><a class="try-btn" :href=api.tryUri target="_blank">试一试</a></div>
      </div>
      <div>
        <h2 class="head-title">输入参数</h2>
        <table class="api-table" cellspacing="0">
          <thead><tr><th v-for="(t,index) in api.requestParams.title">{{t}}</th></tr></thead>
          <tbody>
            <tr v-for="(param,index) in api.requestParams.content"><td>{{param.cnName}}</td><td>{{param.enName}}</td><td>{{param.required}}</td><td>{{param.type}}</td><td>{{param.desc}}</td></tr>
          </tbody>
        </table>
        <h2 class="head-title">输入参数示例</h2>
        <json-view jsontype="inParam"></json-view>
      </div>
      <div>
        <h2 class="head-title">输出参数</h2>
        <table class="api-table" cellspacing="0">
          <thead><tr><th v-for="(t,index) in api.responseParams.title">{{t}}</th></tr></thead>
          <tbody>
            <tr v-for="(param,index) in api.responseParams.content">
              <td v-if="param.seq != null">{{param.seq}}</td>
              <td v-if="param.col != null">{{param.col}}</td>
              <td v-if="param.desc != null">{{param.desc}}</td>
              <td v-if="param.type != null">{{param.type}}</td>
            </tr>
          </tbody>
        </table>
        <h2 class="head-title">输出参数示例</h2>
        <json-view jsontype="outParam"></json-view>
      </div>
    </div>
 </div>
</template>

<script>
import store from '../../store/api'
import briefs from '../../store/api_brief'
import jsonView from './jsonView.vue'

export default {
  components: {
    jsonView
  },
  data () {
    return {
        api: {},    //记录本导航模型
        path: ''    //导航路径
    }
  },
  created(){
    this.fetchData();
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData(){
        var _id = this.$route.params.id;
        this.api = store.state[_id];
        this.api['briefs'] = briefs.state[_id]['briefs'];
        this.path = _id;
        window.scrollTo(0,0)
        
    }
  }
}
</script>

<style>
.json-view{overflow: auto;}
</style>
