<template>
    <div class="wrapper">
        <div v-show="model" class="model" @click="model = false">
            <div class="model-show">
                <img :src="modelSrc" alt=""/>
            </div>
        </div>
        <div class="show-info">
            <h2>example1 基本例子 无限制</h2>
            <div class="test test1">
                <vueCropper
                    ref="cropper"
                    :img="option.img"
                    :outputSize="option.size"
                    :outputType="option.outputType"
                    :info="true"
                    :full="option.full"
                    :canMove="option.canMove"
                    :canMoveBox="option.canMoveBox"
                    :fixedBox="option.fixedBox"
                    :original="option.original"
                    @realTime="realTime"/>
            </div>
            <div class="test-button">
                <button class="btn" @click="changeImg">changeImg</button>
                <label class="btn" for="uploads">upload</label>
                <input  
                    id="uploads" 
                    style="position:absolute; clip:rect(0 0 0 0);" 
                    accept="image/png, image/jpeg, image/gif, image/jpg" 
                    type="file"
                    @change="uploadImg($event, 1)"/>
                <button v-if="!crap" class="btn" @click="startCrop">start</button>
                <button v-else class="btn" @click="stopCrop">stop</button>
                <button class="btn" @click="clearCrop">clear</button>
                <button class="btn" @click="refreshCrop">refresh</button>
                <button class="btn" @click="changeScale(1)">+</button>
                <button class="btn" @click="changeScale(-1)">-</button>
                <button class="btn" @click="rotateLeft">rotateLeft</button>
                <button class="btn" @click="rotateRight">rotateRight</button>
                <button class="btn" @click="finish('base64')">preview(base64)</button>
                <button class="btn" @click="finish('blob')">preview(blob)</button>
                <a class="btn" @click="down('base64')">download(base64)</a>
                <a class="btn" @click="down('blob')">download(blob)</a>
                <div style="display:block; width: 100%;">
                    <label class="c-item">
                        <span>上传图片是否显示原始宽高 (针对大图 可以铺满)</span>
                        <input v-model="option.original" type="checkbox" />
                    </label>
                    <label class="c-item">
                        <span>能否拖动图片</span>
                        <input v-model="option.canMove" type="checkbox" />
                    </label>
                    <label class="c-item">
                        <span>能否拖动截图框</span>
                        <input v-model="option.canMoveBox" type="checkbox"/>
                    </label>
                    <label class="c-item">
                        <span>截图框固定大小</span>
                        <input v-model="option.fixedBox" type="checkbox"/>
                    </label>
                    <label class="c-item">
                        <span>是否输出原图比例的截图</span>
                        <input v-model="option.full" type="checkbox"/>
                    </label>
                    <p>输出图片格式</p>
                    <label class="c-item">
                        <label>jpg  <input v-model="option.outputType" type="radio" name="type" value="jpeg" /></label>
                        <label>png  <input v-model="option.outputType" type="radio" name="type" value="png" /></label>
                        <label>webp <input v-model="option.outputType" type="radio" name="type" value="webp" /></label>
                    </label>
                </div>
            </div>
        </div>
        <div :style="{'width': previews.w + 'px', 'height': previews.h + 'px', 'overflow': 'hidden', 'margin': '5px'}" class="show-preview">
            <div :style="previews.div">
                <img :src="previews.url" :style="previews.img"/>
            </div>
        </div>
    </div>
</template>
<script>
import vueCropper from 'vue-cropper'

export default {
    components: {
        vueCropper
    },
    data: function () {
        return {
            modelSrc: '../../assets/contentbg.jpg',
            model: false,
            crap: false,
            previews: {},
            lists: [
                {
                    img: '../../assets/contentbg.jpg'
                },
                {
                    img: '../../assets/mininglamp.png'
                }
            ],
            option: {
                img: '../../assets/contentbg.jpg',
                size: 1,
                full: false,
                outputType: 'png',
                canMove: true,
                fixedBox: false,
                original: false,
                canMoveBox: false
            },
            downImg: '#'
        }
    },
    methods: {
        changeImg() {
            this.option.img = this.lists[((Math.random()) * (this.lists.length))].img
        },
        startCrop() {
            // start
            this.crap = true
            this.$refs.cropper.startCrop()
        },
        stopCrop() {
            //  stop
            this.crap = false
            this.$refs.cropper.stopCrop()
        },
        refreshCrop() {
            // clear
            this.$refs.cropper.refresh()
        },
        changeScale(num) {
            num = num || 1
            this.$refs.cropper.changeScale(num)
        },
        clearCrop() {
            // clear
            this.$refs.cropper.clearCrop()
        },
        // 实时预览函数
        realTime(data) {
            this.previews = data
        },
        finish(type) {
            // 输出
            let test = window.open('about:blank')
            test.document.body.innerHTML = '图片生成中..'
            if (type === 'blob') {
                this.$refs.cropper.getCropBlob((data) => {
                    test = window.open('')
                    test.location.href = window.URL.createObjectURL(data)
                })
            } else {
                this.$refs.cropper.getCropData((data) => {
                    test.location.href = data
                })
            }
        },
        rotateLeft() {
            this.$refs.cropper.rotateLeft()
        },
        rotateRight() {
            this.$refs.cropper.rotateRight()
        },
        down(type) {
            // event.preventDefault()
            const aLink = document.createElement('a')
            aLink.download = 'demo'
            // 输出
            if (type === 'blob') {
                this.$refs.cropper.getCropBlob((data) => {
                    this.downImg = data
                    aLink.href = data
                    aLink.click()
                })
            } else {
                this.$refs.cropper.getCropData((data) => {
                    this.downImg = data
                    aLink.href = data
                    aLink.click()
                })
            }
        },

        // uploadImg(e, num) {
        //     // 上传图片
        //     // this.option.img
        //     const file = e.target.files[0]
        //     if (!/\.(gif|jpg|jpeg|png|bmp|GIF|JPG|PNG)$/.test(e.target.value)) {
        //         return false
        //     }
        //     const reader = new FileReader()
        //     reader.onload = ( e )=> {
        //         let data
        //         if (typeof e.target.result === 'object') {
        //             // 把Array Buffer转化为blob 如果是base64不需要
        //             data = window.URL.createObjectURL(new Blob([e.target.result]))
        //         } else {
        //             data = e.target.result
        //         }
        //         if (num === 1) {
        //             this.option.img = data
        //         } else if (num === 2) {
        //             this.example2.img = data
        //         }
        //     }
        //     // 转化为base64
        //     // reader.readAsDataURL(file)
        //     // 转化为blob
        //     reader.readAsArrayBuffer(file)
        // }
    },
}
</script>

<style>
  * {
        margin: 0;
        padding: 0;
    }
    .content {
        margin: auto;
        max-width: 1200px;
        margin-bottom: 100px;
    }
    .test-button {
        display: flex;
        flex-wrap: wrap;
    }
    .btn {
        display: inline-block;
        line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #c0ccda;
    color: #1f2d3d;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin:20px 10px 0px 0px;
    padding: 9px 15px;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #50bfff;
    border-color: #50bfff;
    transition: all .2s ease;
        text-decoration: none;
        user-select: none;
    }
    .des {
        line-height: 30px;
    }
    code.language-html {
        padding: 10px 20px;
        margin: 10px 0px;
        display: block;
        background-color: #333;
        color: #fff;
        overflow-x: auto;
        font-family: Consolas, Monaco, Droid, Sans, Mono, Source, Code, Pro, Menlo, Lucida, Sans, Type, Writer, Ubuntu, Mono;
        border-radius: 5px;
        white-space: pre;
    }
    .show-info {
        margin-bottom: 50px;
    }
    .show-info h2 {
        line-height: 50px;
    }
    /*.title, .title:hover, .title-focus, .title:visited {
        color: black;
    }*/
    .title {
        display: block;
        text-decoration: none;
        text-align: center;
        line-height: 1.5;
        margin: 20px 0px;
        background-image: 
        -webkit-linear-gradient(left,#3498db,#f47920 10%,
        #d71345 20%,#f7acbc 30%,#ffd400 40%,#3498db 50%,#f47920 60%,#d71345 70%,#f7acbc 80%,#ffd400 90%,#3498db);
    color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: slide 5s infinite linear;
        font-size: 40px;
    }
    .test {
        height: 500px;
    }
    .model {
        position: fixed;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    .model-show {
        display: flex;
    justify-content: center;
    align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .model img {
        display: block;
        margin: auto;
        max-width: 80%;
        user-select: none;
        background-position: 0px 0px, 10px 10px;
        background-size: 20px 20px;
        background-image: 
            linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),
            linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
    }
    .c-item {
        display: block;
        padding: 10px 0;
        user-select: none;
    }
    @keyframes slide {
    0%  {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
  }
</style>
