<template>
    <div>
        <img 
            src="../../assets/mininglamp.png" 
            class="[rotate?'fa fa-arrow-down go':'fa fa-arrow-down aa']" 
            @click="start"/>
    </div>
 
</template>
<script>
export default {
    data() {
        return {
            rotate: false
        }
    },
    methods: {
        start(){
            this.rotate = !this.rotate
            console.log(this.rotate)
        }
    }
}
</script>
<style lang="css" scoped>
 .aa{
    transition: all 2s; 
    transform:rotate(0deg);
}
.go{
    transform:rotate(90deg);
    transition: all 2s;
    }
</style>
