<template>
    <!-- 整个页面 -->
    <div class="pageDiv" style="padding:10px">
        <!-- 表单查询 -->
        <div class="fromDiv">
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="地市">
                    <el-cascader
                        v-model="formInline.ds"
                        :options="cities"
                        placeholder="请选择"
                        filterable
                        size="small"
                        change-on-select />
                </el-form-item>
                <el-form-item label="机构">
                    <el-select v-model="formInline.jg" size="small" placeholder="请选择" >
                        <el-option
                            v-for="item in institutions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="时间">
                    <el-date-picker
                        :picker-options="pickerOptions"
                        v-model="formInline.dataValue"
                        type="daterange"
                        align="right"
                        unlink-panels
                        size="mini"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"/>
                </el-form-item>
                <el-form-item>
                    <el-button class="primaryButton" size="small" type="primary">统计</el-button>
                </el-form-item>
            </el-form>
        </div>
        <!-- 内容部分 -->
        <div class="contentDiv">
            <!-- 饼状图 -->
            <div class="leftDiv">
                <div id="tjpie" class="echarsDiv"/>
            </div>
            <!-- 柱形图 -->
            <div class="rightDiv">
                <div id="tjbar" class="echarsDiv"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            formInline: {
                ds: '',
                jg: '',
                hpzl: '',
                hphm: '',
                dataValue: ''
            },
            institutions: [{
                value: '石家庄市交管所',
                label: '石家庄市交管所'
            }, {
                value: '张家口市交管所',
                label: '张家口市交管所'
            }, {
                value: '沧州市交管所',
                label: '沧州市交管所'
            }, {
                value: '保定市交管所',
                label: '保定市交管所'
            }, {
                value: '衡水市交管所',
                label: '衡水市交管所'
            }],
            cities: [{
                value: '',
                label: '请选择',
            }, {
                value: '石家庄',
                label: '石家庄',
                children: [{
                    value: '桥西区',
                    label: '桥西区',
                }, {
                    value: '鹿泉',
                    label: '鹿泉',
                }, {
                    value: '赵县',
                    label: '赵县',
                }]
            }, {
                value: '张家口市',
                label: '张家口市',
                children: [{
                    value: '涿鹿县',
                    label: '涿鹿县',
                }, {
                    value: '怀来县',
                    label: '怀来县',
                }, {
                    value: '崇礼县',
                    label: '崇礼县',
                }, {
                    value: '张北县',
                    label: '张北县',
                }]
            }, {
                value: '沧州市',
                label: '沧州市',
                children: [{
                    value: '沧县',
                    label: '沧县'
                }, {
                    value: '肃宁县',
                    label: '肃宁县'
                }, {
                    value: '青县',
                    label: '青县'
                }, {
                    value: '献县',
                    label: '献县'
                }, {
                    value: '海兴县',
                    label: '海兴县'
                }]
            }, {
                value: '保定市',
                label: '保定市',
                children: [{
                    value: '涞水县',
                    label: '涞水县'
                }, {
                    value: '曲阳县',
                    label: '曲阳县'
                }, {
                    value: '涞源县',
                    label: '涞源县'
                }, {
                    value: '唐县',
                    label: '唐县'
                }]
            }],
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 7))
                        picker.$emit('pick', [start, end])
                    }
                }, {
                    text: '最近一个月',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 30))
                        picker.$emit('pick', [start, end])
                    }
                }, {
                    text: '最近三个月',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 90))
                        picker.$emit('pick', [start, end])
                    }
                }]
            },
        }
    }, 
    mounted() {
        const pigChart = this.$echarts.init(document.getElementById('tjpie'))
        this.initPig(pigChart)
        const bangChart = this.$echarts.init(document.getElementById('tjbar'))
        this.initBar(bangChart)
    }, 
    methods: {
        //  绑定情况分析
        initPig(bangChart){
            // bangChart.title = '坐标轴刻度与标签对齐'
            this.bangOption = {
                title: {
                    text: '业务办理统计',
                    subtext: this.formInline.ds,
                    x: 'center',
                    textStyle: { // 设置主标题风格
                        color: '#324157', // 设置主标题字体颜色
                    }
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['注册登记', '核发号牌', '回收废旧牌证', '机动车过户', '机动车检验'],
                    textStyle: {
                        color: '#324157'
                    }
                },
                series: [
                    {
                        name: '业务办理',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            { value: 335, name: '注册登记' },
                            { value: 310, name: '核发号牌' },
                            { value: 234, name: '回收废旧牌证' },
                            { value: 135, name: '机动车过户' },
                            { value: 1548, name: '机动车检验' }
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            }
            bangChart.setOption(this.bangOption)
        },
        initBar(barChart){
            const category = []
            let dottedBase = +new Date()
            const lineData = []
            const barData = []

            for (let i = 0; i < 20; i++) {
                const date = new Date(dottedBase += 1000 * 3600 * 24)
                category.push([
                    date.getFullYear(),
                    date.getMonth() + 1,
                    date.getDate()
                ].join('-'))
                const b = Math.random() * 200
                const d = Math.random() * 200
                barData.push(b)
                lineData.push(d + b)
            }
            this.bangOption = {
                title: {
                    text: '业务量和档案数统计',
                    subtext: this.formInline.ds,
                    x: 'left',
                    textStyle: { // 设置主标题风格
                        color: '#324157', // 设置主标题字体颜色
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#324157'
                        }
                    }
                },
                // toolbox: {
                //     feature: {
                //         dataView: { show: true, readOnly: false },
                //         magicType: { show: true, type: ['line', 'bar'] },
                //         restore: { show: true },
                //         saveAsImage: { show: true }
                //     }
                // },
                legend: {
                    data: ['业务量', '档案资料数'],
                    x: 'right',
                    textStyle: {
                        color: '#324157'
                    }
                },
                xAxis: [
                    {
                        type: 'category',
                        data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                        axisPointer: {
                            type: 'shadow'
                        },
                        axisTick: {
                            alignWithLabel: true,
                        },
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '业务量',
                        min: 0,
                        axisLine: { 
                            show: false,
                        },
                        axisTick: { 
                            show: false,
                        },
                    },
                    {
                        type: 'value',
                        name: '档案资料数',
                        axisLabel: {
                            formatter: '{value}'
                        },
                        axisLine: { 
                            show: false,
                        },
                        axisTick: { 
                            show: false,
                        },
                    }
                ],
                series: [
                    {
                        name: '业务量',
                        type: 'bar',
                        data: [1212, 2131, 3121, 2121, 1312, 1213, 2131, 4433, 3444, 2432, 6232, 3323]
                    },
                    {
                        name: '档案资料数',
                        type: 'line',
                        yAxisIndex: 1,
                        data: [2332, 5222, 3324, 4232, 6664, 8043, 3034, 7344, 8332, 6232, 8220, 6232]
                    }
                ]
            }
            barChart.setOption(this.bangOption)
        }

    }
}
</script>

<style scoped>
.echarsDiv{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.pageDiv{
    width: 100%;
    height: 100%;
}
.fromDiv{
    width: 100%;
    height: 10%;
}
.contentDiv{
    width: 100%;
    height: 90%;
}
.leftDiv{
    width: 50%;
    height: 100%;
    float: left;
}
.rightDiv{
    width: 50%;
    height: 100%;
    float: right;
}
</style>

