<template>
    <div class="tags">
        <ul>
            <router-link :to="tagsto" tag="li">
                {{ tagscontent }}
            </router-link>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'Tags',
    props: [ 'tagsto','tagscontent' ],
    data() {
        return {
           
        }
    },
    methods: {
    }
}

</script>

<style>
   .tags {
    position: relative;
    line-height: 36px;
    overflow: hidden;
    z-index: 1;
    height: 26px;
    margin-left: 20px;
}

</style>
