<template>
    <div class="theme-dark-light page" @scroll="onScroll">
        <header-nav message="header" class="header"/>
        <div class="page-container">
            <div class="wrapper">
                <!--左边菜单-->
                <Sidebar/>            
                <div :class="{'content-collapse':collapse}" class="content-box">
                    <!--标签组件与中间内容-->
                    <router-view />
                    <router-view name="content"/>
                    <!--中间内容 -->
                </div>
            </div>
            <!-- 底部 -->
            <div>
                <footer class="footer"/>
            </div>
        </div>
    </div>
</template>

<script>
import headerNav from './headerNav.vue'
// import rightContent from './rightContent.vue'
import Sidebar from './Sidebar.vue'


export default {
    name: 'Container',
    components: {
        headerNav, Sidebar
    },
    data(){
        return {
            toUpShow: true,
            collapse: false
        }
    },
    computed: {
        getToUp(){
            return true
        }
    },
    methods: {
        toUp(){
            window.scrollTo(0, 0)
        },
        onScroll(){
        }
    }
}
</script>
