<template>
    <div>
        <header class="header">
            <div class="container bg-black">
                <div class="nav-header ">
                    <img class="logo" src="../../assets/mininglamp.png" style="height: 50px; float:left;" @click="home"/>
                    <h2 style="width: 560px; color: whitesmoke; padding-top: 10px;">河北省交管局档案管理系统</h2>
                </div>
                <div class="navbar-collapse box-shadow">
                    <el-menu
                        background-color="#324157"
                        text-color="#FFF"
                        default-active="1"
                        class="el-menu-demo nav"
                        mode="horizontal" >
                        <el-submenu index="workspace">
                            <template slot="title">{{ username || '游客' }}</template>
                            <el-menu-item index="logout" @click.native="logout">退出</el-menu-item>
                        </el-submenu>
                    </el-menu>
                </div>
            </div>
        </header>
    </div>
</template>
<script>
import utils from 'common/utils'

const {
    mapState,
} = utils

export default {
    name:'headerNav',
    data() {
        return {
            
        }
    },
    computed: mapState({
        username: state => state.user.user && state.user.user.userName
    }),
    methods: {
        logout(){
            this.$router.push('/login')
        },
        home(){
            this.$router.push('/index')
        }

    }
}
</script>
<style>
.header .logo{
  padding-top: 2px;
  height: 54px;
  /*margin-left: -20px;*/
  z-index: 9999;
}
@media (min-width: 268px){
    .nav-header {
      float: left;
    }
}
@media (min-width: 1268px){
    .nav-header {
      width: 200px;
    }
}
</style>
