<template>
    <div class="sidebar">
        <el-row class="tac">
            <el-col :span="12">
                <el-menu
                    default-active="2"
                    class="el-menu-vertical-demo"
                    background-color="#363636"
                    text-color="#E6E6FA"
                    active-text-color="rgb(74, 131, 216)">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-tickets"/>
                            <span>机动车档案</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1" ><tags tagsto="/carCollection" tagscontent="档案采集" class="tags"/></el-menu-item>
                            <el-menu-item index="1-2"><tags tagsto="/carSupplement" tagscontent="档案补录" class="tags"/></el-menu-item>
                            <el-menu-item index="1-3"><tags tagsto="/carList" tagscontent="档案列表" class="tags"/></el-menu-item>
                            <el-menu-item index="1-4"><tags tagsto="/carStatistics" tagscontent="档案统计" class="tags"/></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-tickets"/>
                            <span>驾驶人档案</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1"><tags tagsto="/diverCollection" tagscontent="档案采集" class="tags"/></el-menu-item>
                            <el-menu-item index="2-2"><tags tagsto="/diverSupplement" tagscontent="档案补录" class="tags"/></el-menu-item>
                            <el-menu-item index="2-3"><tags tagsto="/diverList" tagscontent="档案列表" class="tags"/></el-menu-item>
                            <el-menu-item index="2-4"><tags tagsto="/diverStatistics" tagscontent="档案统计" class="tags"/></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title">
                            <i class="el-icon-tickets"/>
                            <span>事故文书档案</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="3-1"><tags tagsto="/accidentCollention" tagscontent="档案采集" class="tags"/></el-menu-item>
                            <el-menu-item index="3-2"><tags tagsto="/accidentSupplement" tagscontent="档案补录" class="tags"/></el-menu-item>
                            <el-menu-item index="3-3"><tags tagsto="/accidentList" tagscontent="档案列表" class="tags"/></el-menu-item>
                            <el-menu-item index="3-4"><tags tagsto="/accidentStatistics" tagscontent="档案统计" class="tags"/></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="4">
                        <template slot="title">
                            <i class="el-icon-tickets"/>
                            <span>交通违章档案</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="4-1"><tags tagsto="/illegalCollection" tagscontent="档案采集" class="tags"/></el-menu-item>
                            <el-menu-item index="4-2"><tags tagsto="/illegalSupplement" tagscontent="档案补录" class="tags"/></el-menu-item>
                            <el-menu-item index="4-3"><tags tagsto="/illegalList" tagscontent="档案列表" class="tags"/></el-menu-item>
                            <el-menu-item index="4-4"><tags tagsto="/accidentStatistics" tagscontent="档案统计" class="tags"/></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="5">
                        <template slot="title">
                            <i class="el-icon-edit"/>
                            <span>档案抽查考核</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="5-1"><tags tagsto="/assessmentList" tagscontent="考核任务列表" class="tags"/></el-menu-item>
                            <el-menu-item index="5-2"><tags tagsto="/assessmentStatistics" tagscontent="考核任务统计" class="tags"/></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="6">
                        <template slot="title">
                            <i class="el-icon-setting"/>
                            <span>系统管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="6-1"><tags tagsto="/userManagement" tagscontent="用户管理" class="tags"/></el-menu-item>
                            <el-menu-item index="6-2"><tags tagsto="/roleManagement" tagscontent="角色管理" class="tags"/></el-menu-item>
                            <el-menu-item index="6-3"><tags tagsto="/departmentManagement" tagscontent="部门管理" class="tags"/></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="7">
                        <template slot="title">
                            <i class="el-icon-date"/>
                            <span>日志管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="7-1"><tags tagsto="/logManagement" tagscontent="日志管理" class="tags"/></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="8">
                        <template slot="title">
                            <i class="el-icon-menu"/>
                            <span>参数配置</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="8-1"><tags tagsto="/parameterManagement" tagscontent="参数配置" class="tags"/></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import dbTable from '../dbTable/dbTable.vue'
import basicInformation from '../basicInformation/basicInformation.vue'
import procBasicInformation from '../basicInformation/procBasicInformation.vue'
import GraphData from '../cytoscape/GraphData.vue'
import tags from './Tags'
export default {
    components: {
        dbTable, basicInformation, GraphData, tags, procBasicInformation
    },
    methods: {
        handleOpen(key, keyPath) {
            console.log(key, keyPath)
        },
        handleClose(key, keyPath) {
            console.log(key, keyPath)
        }
    }
}
</script>

<style scoped>
    .scrollbar {
        overflow-x: hidden; 
        max-height: 650px;
        height:100%;

    }   
    .element.style:hover {
        color: #000;
    }
    .object {
        width: 250px;
        line-height: 40px;
        text-align: center;
    }
    .object ul li {
        color: #FFF;
    }
    .sidebar{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom:0;
        width: 251px;
        background-color: #363636;
        overflow: auto;
    }
    .sidebar-el-menu:not(.el-menu--collapse){
        width: 250px;
    }
    .sidebar > ul {
        height:100%;
    }
    .sidebar .el-menu{
        border-right-color: #000;
    }
    .el-col-12 {
        width: 100%;
    }
</style>
