<template>
    <div class="photograph_page">
        <div>
            <div class="video_box">
                <div v-if="!isShowImg" class="border">
                    <span class="top_title"><h4>{{ title }} </h4></span>
                    <span class="top_left"/>
                    <span class="top_right"/>
                    <span class="bottom_left"/>
                    <span class="bottom_right"/>
                </div>
                <video ref="video"/>
                <img v-show="isShowImg" ref="img" class="img"/>
            </div>
            <canvas v-show="false" ref="canvas" class="canvas"/>
        </div>
        <div class="button_group">
            <el-button
                v-show="isShowImg"
                type="primary"
                class="button" 
                icon="el-icon-zoom-in"
                size="small" 
                @click.native="resetPhoto">重新拍照</el-button>
            <el-button 
                v-show="isShowImg"
                type="primary" 
                class="button" 
                icon="el-icon-zoom-out"
                size="small"
                @click.native="surePhoto" >确定</el-button>
            <el-button 
                v-show="!isShowImg"
                type="primary" 
                class="button" 
                icon="el-icon-zoom-out"
                size="small" 
                @click.native="photo">拍照</el-button>
        </div>
    </div>
</template>

<script>
import utils from 'common/utils'
const {
    mapActions,
} = utils

export default {
    props: {
        title: {
            type: String,
            required: true
        },
        // business: {
        //     type: String,
        //     required: true
        // },
    },
    data() {
        return {
            video: null,
            isShowImg: false,
            dataURL: null,
            track: null,
        }
    },
    mounted() {
        this.initPhoto()
    },  
    methods: {
        initPhoto() {
            const vm = this
            // 浏览器兼容
            const mediaDevices = navigator.mediaDevices.getUserMedia({ 
                audio: false, 
                video: {
                    width: 700, height: 430 
                } 
            })
            mediaDevices.then(mediaStream => {
                const video = vm.$refs.video
                video.src = window.URL.createObjectURL(mediaStream)
                video.onloadedmetadata = () => {
                    video.play()
                }
                vm.video = video
                vm.track = mediaStream.getTracks()[0]
            }).catch(err => {
                console.log('err.message' + err.name)
            })
        },
        photo() {
            const vm = this
            let dataURL = null
            const img = vm.$refs.img
            const canvas = vm.$refs.canvas
            const context = canvas.getContext('2d')
            const width = 700
            const height = 470
            canvas.width = width
            canvas.height = height
            img.height = height
            context.drawImage(vm.video, 0, 0, width, height)
            dataURL = canvas.toDataURL('image/png')
            img.src = dataURL
            // 记录dataURL，并且改变按钮的状态
            vm.dataURL = dataURL
            vm.isShowImg = true
        },
        resetPhoto() {
            const vm = this
            vm.isShowImg = false
        },
        surePhoto() {
            const that = this
            that.isShowImg = false
            console.log(this.dataURL)
            this.uploadImg({
                data: { 
                    criteria: { dataURL: this.dataURL }, 
                }
            }).then((res) => {
                console.log(res.data)
                that.$message({
                    message: '上传成功！',
                    type: 'error'
                }) 
            })
        },
        ...mapActions([
            'uploadImg'
        ]),
    }
}
</script>

<style lang="less" scoped>
.time {
    font-size: 14px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }
  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
  .photograph_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .button_group {
        margin-top:20px;
        .MyButton {
        &:first-child {
            margin-right: 60px;
        }
        }
    }
}
.video_box {
  width: 740px;
  height:470px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 10px #000;
  border: 10px solid #fff;
  background: #fff;
  border-radius: 2px;
  box-sizing: content-box;
  video {
    z-index: 999;
    margin: 0;
  }
  .img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: block;
    background: red;
  }
  .border {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    span {
      width: 30px;
      height: 30px;
      position: absolute;
      z-index: 99999;
      transform: translate3d(0, 0, 0);
      animation: flashing 1s linear 1s infinite alternate;
    }
    @border: 2px solid #000;
    @size: 20px;
    .top_left {
      border-top: @border;
      border-left: @border;
      top: @size;
      left: @size;
    }
    .top_title{
        color: #324157;
        width: 300px;
    }
    .top_right {
      border-top: @border;
      border-right: @border;
      top: @size;
      right: @size;
    }
    .bottom_left {
      border-bottom: @border;
      border-left: @border;
      bottom: @size;
      left: @size;
    }
    .bottom_right {
      border-right: @border;
      border-bottom: @border;
      right: @size;
      bottom: @size;
    }
  }
}
@keyframes flashing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>
