@charset "utf-8";
.login-container .fm-header h2 {
  padding-bottom: 10px;
}
body{overflow-y: auto;}
.bg{
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(../../assets/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.form{
  width: 450px;
  padding: 10px 20px 10px;
  /*background: rgba(255,255,255,0.5);*/
}
.login-container{
    position:relative;
    width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}
.frosted-glass1{
  width: 100%;
  height: 100%;
  background: inherit;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
}
.el-form-item__label{color: #FFF;}
.fm-header{
  text-align:center;
  padding-bottom: 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 35px;
}
.el-form-item__error{color: #F9FF7B;}
.login-form-tran .el-button--default{color: #EFEFEF;background: transparent;}
.login-form-tran .el-input__inner{color: #FFF;background: transparent;}
