<template>
    <div class="procBasicInformation">
        <transition name="tableInformation">
            <!-- 基本描述 -->
            <div class="basicDescribe">
                <p class="title">基本描述</p>
                <ul v-show="isShow" border class="fieldInformation fieldInformation-enter-to" >
                    <el-form class="demo-table-expand">
                        <el-form-item label="名称">
                            <span>
                                {{ basic.name }}
                            </span>
                        </el-form-item>
                        <el-form-item label="描述">
                            <span>
                                {{ basic.describe }}
                            </span>
                        </el-form-item>
                        <!--<el-form-item label="功能">
                            <span>
                                {{ basic.func }}
                            </span>
                        </el-form-item>-->
                    </el-form>
                </ul>
            </div>
        </transition>
        <!--
        <transition name="fieldInformation">
             功能描述 
            <div class="funcDescribe flex-div">
                <p class="title">功能描述</p>
                <div v-show="isShow" :style="{height:fieldinforWho+'px'}" class="fieldInformation fieldInformation-enter-to">
                    {{ funcDescribe }}
                    123
                </div>
            </div>
        </transition>-->
        <transition name="fieldInformation">
            <!-- 代码详情 -->
            <div class="codeInformation flex-div">
                <p class="title">代码详情</p>
                <Monaco 
                    :options="options"
                    :code="codes" 
                    :src-path="baseUrl"
                    language="sql"
                    theme="vs-dark"
                    @mounted="onMounted"/>
                    <!--
                    <div v-show="isShow" :style="{height:fieldinforWho+'px'}" class="fieldInformation fieldInformation-enter-to">
                        <ul>
                            <li v-for="(item,key) in procbasic" :key="key" ><span>{{ item.line }}</span>{{ item.text }}</li>
                        </ul>
                    </div>-->
            </div>
        </transition>

    </div>    
</template>

<script>
import Monaco from 'monaco-editor-forvue'
import utils from 'common/utils'
import config from 'conf'
const {
    mapState,
    mapActions
} = utils

export default {
    components: {
        Monaco
    },
    props: {
        fieldinforWho: {
            type: Number,
            required: true
        },
    },
    // data用于定义属性
    data() {
        return {
            tableName: '',
            isShow: false,
            funcDescribe: '',
            options: {
                readOnly: true,
            },
            baseUrl: config.baseUrl,
            codes: '//'
        }
    },
    computed: {
        ...mapState({
            procbasic: state => state.basicInformation.procbasic,
            basic: state => state.basicInformation.procbasicinformation,
            objectId: state => {
                return state.obj.objectId
            }
        }),

    },
    updated: function () {
        this.editor.setValue(this.codes)
        this.editor.layout({
            width: 800,
            height: 800
        })
    },
    mounted: function () {
        this.$store.watch(
            state => state.obj.objectId,
            () => {
                if (this.objectId){
                    this.getProcBasicInformation({ 
                        data: { criteria: { owner: 'PDATA', name: this.objectId } }
                    }).then((res) => {
                        let codestr = ''
                        for (let i = 0; i < res.data.length; i++){
                            codestr += res.data[i].text
                        }
                        this.codes = codestr
                        this.isShow = true
                    })
                }
            }
        )
    },
    // method用于定义函数
    methods: {
        ...mapActions([
            'getProcBasicInformation',
        ]),
        onMounted(editor){
            this.editor = editor
        },
    }
} 

</script>

<style lang="less">
    .procBasicInformation {
        color: blanchedalmond;
        display:flex;
        .flex-div{
            flex-grow:1;
            width:50%;
            margin:50px;
            padding:20px;
            
        }
        .title{
            border-bottom:1px solid #f2f2f2;
            line-height:45px;
        }
        .basicDescribe{
            width:500px;
            margin:50px;
            padding:20px;            
            .el-form-item{
                border-bottom:1px groove #f2f2f2;
                margin:0 auto;
                padding:10px 20px;
            }
        }
        .codeInformation{
            height:500px;
        }
    }
</style>
