<template>
    <el-card :body-style="{ padding: '0px', width: '100%',height: '100%'}">
        <div class="test">
            <vueCropper
                ref="cropper"
                :img="img"
                :outputSize="option.size"
                :outputType="option.outputType"
                :canMove="option.canMove"
                :canMoveBox="option.canMoveBox"
                :fixedBox="option.fixedBox"
                :full="option.full"
                :info="true"
                :original="option.original"
                @realTime="realTime"/>
        </div>
        <div style="padding: 14px; width: 100%,height: 20% " >
            <span class="tomSpan">{{ ms }}</span>
            <div class="bottom clearfix">
                <button class="btn" @click="changeScale(1)">放大</button>
                <button class="btn" @click="changeScale(-1)">缩小</button>
                <button class="btn" @click="rotateLeft">左旋转</button>
                <button class="btn" @click="rotateRight">右旋转</button>
            </div>
        </div>
    </el-card>
</template>

<script>
import vueCropper from 'vue-cropper'
export default {
    components: {
        vueCropper
    },
    props: {
        img: {
            type: String,
            required: true
        },
        ms: {
            type: String,
            required: true
        },

    },
    data() {
        return {
            model: false,
            crap: false,
            previews: {},
            option: {
                size: 1,
                full: false,
                outputType: 'png',
                canMove: true,
                fixedBox: false,
                original: false,
                canMoveBox: false
            },
            downImg: '#',
        }
    },
    methods: {
        changeScale(num) {
            num = num || 1
            this.$refs.cropper.changeScale(num)
        },
        // 实时预览函数
        realTime(data) {
            this.previews = data
        },
        rotateLeft() {
            this.$refs.cropper.rotateLeft()
        },
        rotateRight() {
            this.$refs.cropper.rotateRight()
        },
    }
}
</script>

<style scoped>
 .content {
        margin: auto;
        max-width: 1200px;
        margin-bottom: 100px;
    }
    .test-button {
        display: flex;
        flex-wrap: wrap;
    }
    .btn {
        display: inline-block;
        line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #c0ccda;
    color: #1f2d3d;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin:20px 10px 0px 0px;
    padding: 9px 15px;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #50bfff;
    border-color: #50bfff;
    transition: all .2s ease;
        text-decoration: none;
        user-select: none;
    }
    .des {
        line-height: 30px;
    }
    code.language-html {
        padding: 10px 20px;
        margin: 10px 0px;
        display: block;
        background-color: #333;
        color: #fff;
        overflow-x: auto;
        font-family: Consolas, Monaco, Droid, Sans, Mono, Source, Code, Pro, Menlo, Lucida, Sans, Type, Writer, Ubuntu, Mono;
        border-radius: 5px;
        white-space: pre;
    }
    .show-info {
        margin-bottom: 50px;
    }
    .show-info h2 {
        line-height: 50px;
    }
    /*.title, .title:hover, .title-focus, .title:visited {
        color: black;
    }*/
    .title {
        display: block;
        text-decoration: none;
        text-align: center;
        line-height: 1.5;
        margin: 20px 0px;
        background-image: 
        -webkit-linear-gradient(left,#3498db,#f47920 10%,
        #d71345 20%,#f7acbc 30%,#ffd400 40%,#3498db 50%,#f47920 60%,#d71345 70%,#f7acbc 80%,#ffd400 90%,#3498db);
    color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: slide 5s infinite linear;
        font-size: 40px;
    }
    .test {
        height: 85%;
    }
    .model {
        position: fixed;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    .model-show {
    display: flex;
    justify-content: center;
    align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .model img {
        display: block;
        margin: auto;
        max-width: 80%;
        user-select: none;
        background-position: 0px 0px, 10px 10px;
        background-size: 20px 20px;
        background-image: 
            linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),
            linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
    }
    .c-item {
        display: block;
        padding: 10px 0;
        user-select: none;
    }
    @keyframes slide {
    0%  {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
  }
   .time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: -10px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
  .el-card {
      height: 100%;
  }
.tomSpan {
    float: left;
    padding-top: 18px;
    padding-right: 30px;
}
</style>
