@charset "utf-8";
html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
html,
body,
.page {
  height: 100%;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 0px rgba(255, 255, 255, 0);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}
header {
  height: 50px;
  width: 100%;
  background: #324157;
  position: fixed;
  z-index: 9999;
}
header .nav {
  float: right;
}
.header .nav li a {
  display: block;
  padding: 0 10px;
}
.page-container {
  padding-top: 50px;
}
@media (max-width: 1140px) {
  .container,
  .page-container {
    width: 100%;
  }
}
:fullscreen a {
  display: flex;
}
.bg-blue-light {
  background-color: #58b7ff;
}
.bg-blue,
.bg-info {
  background-color: #20a0ff;
}
.bg-blue-dark {
  background-color: #1d8ce0;
}
.bg-success {
  background-color: #13ce66;
}
.bg-warning {
  background-color: #f7ba2a;
}
.bg-danger {
  background-color: #ff4949;
}
.bg-black {
  background-color: #324157;
}
.bg-black-light {
  background-color: #324057;
}
.bg-black-lighter {
  background-color: #475669;
}
.bg-silver {
  background-color: #8492a6;
}
.bg-silver-light {
  background-color: #99a9bf;
}
.bg-silver-lighter {
  background-color: #c0ccda;
}
.bg-gray {
  background-color: #d3dce6;
}
.bg-gray-light {
  background-color: #e5e9f2;
}
.bg-gray-lighter {
  background-color: #eff2f7;
}
.bg-white-dark {
  background-color: #f9fafc;
}
.bg-white-only {
  background-color: #fff;
}
.color-gray {
  color: #5e6d82;
}
.color-white {
  color: #FFFFFF;
}
.center {
  text-align: center;
}
.m-center {
  margin: 0 auto;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.input {
  font-size: 14px;
  position: relative;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.input.input-sm {
  font-size: 12px;
  height: 28px;
  line-height: 28px;
}
.input.input-transparent {
  background-color: transparent;
  color: #EFEFEF;
}
.input:focus {
  box-shadow: 0 0 5px #1d8ce0;
}
/*__________elementui样式调整_____________*/
.el-menu--horizontal .el-submenu .el-submenu__title {
  height: 50px;
}
.el-menu--horizontal .el-submenu > .el-menu {
  top: 55px;
}
.theme-dark-light header .el-menu {
  background-color: #324157;
}
.el-menu--dark .is-opened .el-submenu__title {
  background-color: #1F2D3D;
}
.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active,
.el-menu-item.is-active {
  color: #FFF;
}
.el-menu--dark .el-menu-item:hover,
.el-menu--dark .el-submenu__title:hover {
  color: #FFF;
}
/*.el-menu-item, .el-submenu__title{  color: #869fb1;}*/
/*.el-submenu .el-menu-item:hover, .el-submenu__title:hover{color: #FFF;background-color:#131F31;}*/
/*.el-submenu .el-menu{background-color:#131F31;}*/
/*.is-opened.el-menu-item, .is-opened .el-submenu__title{background-color:#131F31;}*/
/*.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item:hover, .el-menu--horizontal.el-menu--dark .el-submenu .el-submenu-title:hover, .el-menu-item:hover{background-color:#131F31;}*/
.navbar-collapse {
  margin-left: 200px;
}
.el-menu--horizontal > .el-submenu .el-submenu__title {
  height: 54px;
}
.el-radio {
  color: #C7C7C7;
}
