<template>
    <div class="content">
        <el-table :data="tableData" border style="width: 100%;" >
            <el-table-column type="selection" width="55"/>
            <el-table-column prop="userid" label="userid" width="100"/>
            <el-table-column prop="username" label="name" width="100"/>
            <el-table-column prop="userpassword" label="password" width="150"/>
            <el-table-column prop="email" label="email" width="150"/>
            <el-table-column prop="userid" label="userid" width="100"/>
            <el-table-column prop="username" label="name" width="100"/>
            <el-table-column prop="userpassword" label="password" width="150"/>
            <el-table-column prop="email" label="email" width="150"/>
        </el-table>
    </div>
</template>

<script>
export default {
    data() {
        const item = {
            userid: '10',
            username: '小明',
            userpassword: '123',
            email: '11@qq.com',
        }
        return {
            multipleSelection: [],
            tableData: Array(26).fill(item)
        }
    },
    methods: {
                        
    }
}
</script>

<style>
.content {
    width:100%;
}
</style>
