<template>
    <div class="login-page">
        <div v-show="true" class="bg">
            <div class="frosted-glass"/>
        </div>
        <div class="login-container">
            <div style="height:150px;"/>
            <div class="form m-center color-white login-form-tran">
                <div class="fm-header"><span>{{ formTitle }}</span></div>
                <el-form ref="loginForm" 
                         :model="loginForm" 
                         :rules="loginRules" 
                         label-position="left" 
                         label-width="80px">
                    <el-form-item prop="username" label="用户名">
                        <el-input v-model="loginForm.username" placeholder="请输入用户名" auto-complete="off"/>
                    </el-form-item>
                    <el-form-item prop="password" label="密码">
                        <el-input v-model="loginForm.password" 
                                  type="password" 
                                  placeholder="请输入密码" 
                                  auto-complete="off" />
                    </el-form-item>
                    <el-form-item v-show="showRem" prop="remember" label="记住我">
                        <el-switch v-model="loginForm.remember" on-text="wdqw" off-text="2" label-width="60" />
                        <el-button :loading="loading" @click="onSubmit">{{ loginBtn }}</el-button>
                    </el-form-item>
                </el-form>

            </div>
        </div>
    </div>

</template>

<script>
import config from 'conf'
import utils from 'common/utils'

const {
    mapActions,
    Tools,
} = utils

const { constant: { statusCode } } = config

export default {
    data() {
        const validateUsername = (rule, value, callback) => {
            if (value === '' || value === null){
                callback(new Error('请输入用户名'))
            } else {
                callback()
            }
        }
     
        const validatePassword = (rule, value, callback) => {
            if (value === '' || value == null){
                callback(new Error('请输入密码'))
            } else {
                callback()
            }
        }
      
        return {
            loginForm: {
                username: Tools.getCookie('user'),
                password: Tools.getCookie('pw'),
                remember: Tools.getCookie('rem') === 'true' // window.localStorage?(localStorage.getItem('rememberMe') == '1'?true:false):false
            },
            formTitle: '河北省交管局电子档案系统',
            loginRules: {
                username: [{
                    validator: validateUsername, trigger: 'blur'
                }],
                password: [
                    { validator: validatePassword, trigger: 'blur' }
                ]
            },
            loading: false,
            loginBtn: '立即登陆',
            showRem: typeof localStorage === 'object'
        }
    },
    created(){
        this.keyupSubmit()
    },
    methods: {
        // 回车键登录
        keyupSubmit(){
            document.onkeydown = e => {
                const key = window.event.keyCode
                if (key === 13){
                    this.onSubmit()
                }
            }
        },
        // 点击提交按钮
        onSubmit() {
            // 获取输入的用户名和密码
            const user = this.loginForm.username
            const pw = this.loginForm.password
            // 获取记住密码状态的
            const rem = this.loginForm.remember
            // 验证表单是否非空（固定写法） 
            this.$refs.loginForm.validate((valid) => {
                if (!valid){ // 校验失败
                    return false
                } // 通过校验 然后发送ajax请求
                const that = this
                this.login({
                    data: { 
                        criteria: { user_id: user, passwd: pw }, 
                        fromSize: '0', 
                        returnSize: '10'  
                    }
                }).then((res) => {
                    // 根据后台状态码来进行判断  
                    switch (res.code) { 
                    case statusCode.BAD_PWD:
                        that.$message({ 
                            message: '用户名或密码错误',
                            type: 'error'
                        })
                        break
                    // 登录成功
                    case statusCode.OK:
                        this.getUser({ })
                        if (rem) {
                            // 保存用户名密码和记住我状态到cookie，保存一周
                            Tools.setCookie('user', user, 7)
                            Tools.setCookie('pw', pw, 7)
                            Tools.setCookie('rem', rem, 7)
                        } else {
                            // 如果没有选记住我，则删除cookie中的内容
                            Tools.delCookie('user')
                            Tools.delCookie('pw')
                            Tools.delCookie('rem')
                        }            
                        that.$router.push('/carCollection')                      
                        break
                    default:
                        that.$message({
                            message: '状态码异常，请联系管理员吧',
                            type: 'error'
                        }) 
                    }
                })
                return true
            })
        },

        ...mapActions([
            'login',
            'getUser',
        ]),
    
        handleReset() {
            this.$refs.loginForm.resetFields()
        }
    }
}
</script>
<style>
body{overflow-y: auto;}
.bg{
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(../../assets/contentbg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.form{
  width: 450px;
  padding: 10px 20px 10px;
  background: rgba(99, 153, 252, 0.233);
  border:1px solid rgba(236, 231, 231, 0.753)
 
}
.login-container{
 position:relative;
 width: 1140px;
 padding: 0 30px;
 margin: 0 auto;
}
.frosted-glass1{
  width: 100%;
  height: 100%;
  background: inherit;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
}
.el-form-item__label{
 color: #FFF;
 margin: 0 auto;
}
.fm-header{
  text-align:center;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 35px;
  font: '宋体';
  font-size: 20px;
  }
.el-form-item__error{color: #F9FF7B;}
.login-form-tran .el-button--default{
 color: rgb(245, 244, 244);
 background: rgba(6, 187, 241, 0.897);margin-left: 38px
 }
.login-form-tran .el-input__inner{
 color: rgb(31, 29, 29);
 background: rgb(255, 255, 255);
}
.span{
 display: inline-block;
 padding-left: 30px;
}
.bottom{
clear: both;
text-align: center;
}
.item{
margin: 4px;
}
</style>
