<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>

  <div id="app"></div>
</body>
<link rel="stylesheet" href="<%= htmlWebpackPlugin.options.applicationContext %>/css/main.css" />
</html>