<template>
    <!-- 整个页面 -->
    <div class="pageDiv" style="padding:10px">
        <!-- 表单查询 -->
        <div class="fromDiv">
            <el-form :inline="true" class="demo-form-inline">
                <el-form-item label="时间">
                    <el-date-picker
                        :picker-options="pickerOptions"
                        class="formItem"
                        type="daterange"
                        align="right"
                        unlink-panels
                        size="mini"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"/>
                </el-form-item>
                <el-form-item>
                    <el-button class="primaryButton" size="small" type="primary">查询</el-button>
                </el-form-item>
            </el-form>
        </div>
        <!-- 内容部分 -->
        <div class="contentDiv">
            <h3 style="color: whitesmoke; padding-bottom:10px">考核次数：78899，完成：78888</h3>
            <!-- 饼状图 -->
            <div class="leftDiv">
                <div id="tjpie" class="echarsDiv"/>
            </div>
            <!-- 柱形图 -->
            <div class="rightDiv">
                <div id="tjbar" class="echarsDiv"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 7))
                        picker.$emit('pick', [start, end])
                    }
                }, {
                    text: '最近一个月',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 30))
                        picker.$emit('pick', [start, end])
                    }
                }, {
                    text: '最近三个月',
                    onClick(picker) {
                        const end = new Date()
                        const start = new Date()
                        start.setTime(start.getTime() - (3600 * 1000 * 24 * 90))
                        picker.$emit('pick', [start, end])
                    }
                }]
            },
        }
    }, 
    mounted() {
        const pigChart = this.$echarts.init(document.getElementById('tjpie'))
        this.initPig(pigChart)
        const bangChart = this.$echarts.init(document.getElementById('tjbar'))
        this.initBar(bangChart)
    }, 
    methods: {
        //  绑定情况分析
        initPig(bangChart){
            // bangChart.title = '坐标轴刻度与标签对齐'
            this.bangOption = {
                title: {
                    text: '业务考核合格统计',
                    x: 'center',
                    textStyle: { // 设置主标题风格
                        color: '#324157', // 设置主标题字体颜色
                    }
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['合格', '不合格'],
                    textStyle: {
                        color: '#324157'
                    }
                },
                series: [
                    {
                        name: '考核',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            { value: 2121, name: '合格' },
                            { value: 222, name: '不合格' },
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            }
            bangChart.setOption(this.bangOption)
        },
        initBar(barChart){
            // bangChart.title = '坐标轴刻度与标签对齐'
            this.bangOption = {
                title: {
                    text: '各地市抽查数与合格数统计',
                    textAlign: 'left',
                    textStyle: { // 设置主标题风格
                        color: '#324157', // 设置主标题字体颜色
                    },
                },
                tooltip: {
                    trigger: 'axis',
                },
                legend: {
                    data: ['抽查数', '合格数'],
                    x: 'right',
                    textStyle: {
                        color: '#324157'
                    }
                },
                // toolbox: {
                //     show: true,
                //     feature: {
                //         dataView: { show: true, readOnly: false },
                //         magicType: { show: true, type: ['line', 'bar'] },
                //         restore: { show: true },
                //         saveAsImage: { show: true }
                //     }
                // },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: ['石家庄', '保定', '邢台', '沧州', '唐山', '张家口', '承德', '邯郸', '廊坊'],
                        axisTick: {
                            alignWithLabel: true,
                            lineStyle: {
                                color: '#324157'
                            }
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#324157'
                            }
                        },
                        axisLabel: {
                            interval: 0,
                            formatter: (value) => {
                                return value.split('').join('\n')
                            }
                        },
                    }
                ],
                yAxis: [
                    {
                        axisLine: { 
                            show: false,
                            lineStyle: {
                                color: 'whitesmoke'
                            } 
                        },
                        axisTick: { 
                            show: false,
                            lineStyle: {
                                color: 'whitesmoke'
                            } 
                        },
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '抽查数',
                        type: 'bar',
                        data: [20131, 31212, 41131, 13131, 32121, 51213, 32121, 22131, 12121],
                        markPoint: {
                            data: [
                                { type: 'max', name: '最大值' },
                                { type: 'min', name: '最小值' }
                            ]
                        },
                        markLine: {
                            data: [
                                { type: 'average', name: '平均值' }
                            ]
                        }
                    },
                    {
                        name: '合格数',
                        type: 'bar',
                        data: [19131, 29212, 39931, 10161, 29121, 49213, 29121, 19131, 10121],
                        markPoint: {
                            data: [
                                { name: '地区最多', value: 49213, xAxis: 5, yAxis: 51213 },
                                { name: '地区最少', value: 10121, xAxis: 8, yAxis: 12121 }
                            ]
                        },
                        markLine: {
                            data: [
                                { type: 'average', name: '平均值' }
                            ]
                        }
                    }
                ]
            }
            barChart.setOption(this.bangOption)
        }

    }
}
</script>

<style scoped>
.echarsDiv{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.pageDiv{
    width: 100%;
    height: 100%;
}
.fromDiv{
    width: 100%;
    height: 10%;
}
.contentDiv{
    width: 100%;
    height: 90%;
}
.leftDiv{
    width: 50%;
    height: 100%;
    float: left;
}
.rightDiv{
    width: 50%;
    height: 100%;
    float: right;
}
</style>

