<template>
    <!-- 整个页面 -->
    <div class="pageDiv" style=" padding-left: 10px; padding-right: 10px;">
        <!-- 表单查询 -->
        <div class="formDiv">
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="事故类型">
                    <el-select v-model="formInline.sglx" placeholder="请选择" size="small">
                        <el-option
                            v-for="item in sglxOption"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"/>
                    </el-select>
                </el-form-item>
                <el-form-item label="事故编号">
                    <el-input v-model="formInline.sgbh" placeholder="事故编号" size="small"/>
                </el-form-item>
                <el-form-item label="登记编号">
                    <el-input v-model="formInline.djbh" placeholder="登记编号" size="small"/>
                </el-form-item>
                <el-form-item>
                    <el-button class="primaryButton" type="primary" size="small">查询</el-button>
                    <el-button class="primaryButton" type="primary" size="small">保存</el-button>
                </el-form-item>
            </el-form>
        </div>
        <!-- 内容部分 -->
        <div class="mainDiv">
            <!-- 预览区 -->
            <div class="leftDiv">
                <!-- 图片显示 -->
                <div v-if="showPrise" class="potoDiv">
                    <pictureOperation :img="img" :ms="ms"/>
                </div>
                <div v-if="showPhoto">
                    <photograph/>   
                </div>
            </div>
            <!-- 编辑区 -->
            <div class="rightDiv">
                <el-tabs type="border-card">
                    <el-tab-pane label="档案采集">
                        <!-- 档案材料 -->
                        <div class="etidDiv">
                            <el-table
                                :data="fileInfoData"
                                :show-header="showHeader" 
                                style="width: 100%" 
                                size="small">
                                <el-table-column fixed prop="label" label="标题" width="100"/>
                                <el-table-column prop="value" label="值"/>
                            </el-table>
                        </div>
                        <div class="selectInfoDiv">
                            <el-switch
                                :disabled="disabled"
                                v-model="switchValue"
                                style="padding-top:5px;"
                                active-text="主摄像头"
                                inactive-text="副摄像头" />
                            <el-checkbox v-model="checked" @change="handleCheckedCitiesChange"/>
                        </div>
                        <div class="tableDiv">
                            <el-table :data="tableData" style="width: 100%" height="220">
                                <el-table-column prop="src" label="材料" width="60">
                                    <template slot-scope="scope">
                                        <img :src="scope.row.src" style="width:50px;height:30px;" @click="showImg(scope.row)"/>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="ms" label="描述"/>
                                <el-table-column
                                    fixed="right"
                                    label="操作">
                                    <template slot-scope="scope">
                                        <el-button
                                            type="text"
                                            size="small"
                                            @click.native.prevent="deleteRow(scope.$index, tableData)">
                                            移除
                                        </el-button>
                                        <el-button
                                            type="text"
                                            size="small">
                                            重录
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-form :inline="true" :model="addTable" class="demo-form-inline">
                                <el-form-item class="formItem">
                                    <el-select v-model="addTable.wjms" placeholder="请选择" size="small">
                                        <el-option
                                            v-for="item in wjlxOption"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"/>
                                    </el-select>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="success" size="small" @click="addRow(tableData)">新增</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="事故详情">
                        <el-table
                            :data="sgInfoData"
                            :show-header="showHeader" 
                            style="width: 100%" 
                            size="small">
                            <el-table-column fixed prop="label" label="标题" width="100"/>
                            <el-table-column prop="value" label="值"/>
                        </el-table>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
</template>

<script>
import pictureOperation from '../publicComponent/potoComponent'
import photograph from '../publicComponent/photograph'
export default {
    components: {
        pictureOperation,
        photograph
    },
    data() {
        return {
            addTable: {
                wjms: ''
            },
            showHeader: false,
            img: '',
            showPhoto: false,
            showPrise: true,
            tableData: [{
                src: '../../assets/zltp/sfzzm.png',
                ms: '身份证正面',
            }, {
                src: '../../assets/zltp/sfzfm.jpg',
                ms: '身份证反面',
            }, {
                src: '../../assets/jtsg/sgajdjb.png',
                ms: '受理交通事故登记表',
            }, {
                src: '../../assets/jtsg/dcbg.jpg',
                ms: '道路交通事故调查报告',
            }, {
                src: '../../assets/jtsg/sgrds.jpg',
                ms: '交通事故认定书',
            }, {
                src: '../../assets/jtsg/bgs.png',
                ms: '报告书',
            }, {
                src: '../../assets/jtsg/xcbl.jpg',
                ms: '现场勘查笔录',
            }, {
                src: '../../assets/jtsg/sgxc.jpg',
                ms: '现场图',
            }, {
                src: '../../assets/jtsg/xwbl1.png',
                ms: '询问笔录1',
            }, {
                src: '../../assets/jtsg/xwbl2.png',
                ms: '询问笔录2',
            }, {
                src: '../../assets/jtsg/xwbl3.png',
                ms: '询问笔录3',
            }],
            formInline: {
                sgbh: '',
                djbh: '',
                dataValue: '',
            },
            fileInfoData: [{
                label: '管理部门',
                value: '石家庄市交警支队',
            }, {
                label: '报警电话',
                value: '1332832911',
            }, {
                label: '经办人',
                value: '李迪，杨洋',
            }, {
                label: '处理日期',
                value: '2018-07-19',
            }],
            sgInfoData: [{
                label: '事故时间',
                value: '2018-07-18 20:20',
            }, {
                label: '道路名称',
                value: '4433-洋河大道西所前',
            }, {
                label: '事故形态',
                value: '挂撞行人',
            }, {
                label: '事故初查原因',
                value: '驾驶机动车在限速60公里/小时公路超速50%',
            }, {
                label: '简要案情',
                value: '2018年7月18日20时20分左右，张三驾驶小型客车宣化滨河南路与行人李四发生碰撞。',
            }, {
                label: '受伤人数',
                value: '1人',
            }, {
                label: '死亡人数',
                value: '0人',
            }, {
                label: '财产损失',
                value: '2300元',
            }],
            sglxOption: [{
                value: '一般事故',
                label: '一般事故'
            }, {
                value: '简易事故',
                label: '简易事故'
            }],
            wjlxOption: [{
                value: '现场图',
                label: '现场图'
            }, {
                value: '方位照片',
                label: '方位照片'
            }, {
                value: '现场记录图',
                label: '现场记录图'
            }, {
                value: '概览照片',
                label: '概览照片'
            }, {
                value: '现场实景记录图',
                label: '现场实景记录图'
            }, {
                value: '局部照片',
                label: '局部照片'
            }, {
                value: '现场比例图',
                label: '现场比例图'
            }, {
                value: '元素照片',
                label: '元素照片'
            }, {
                value: '现场断面图',
                label: '现场断面图'
            }, {
                value: '细目照片',
                label: '细目照片'
            }, {
                value: '现场立面图',
                label: '现场立面图'
            }, {
                value: '对比照片',
                label: '对比照片'
            }, {
                value: '现场分析图',
                label: '现场分析图'
            }, {
                value: '现场勘查笔录',
                label: '现场勘查笔录'
            }, {
                value: '询问笔录',
                label: '询问笔录'
            }, {
                value: '身份证复印件',
                label: '身份证复印件'
            }],
            value: '',
            checked: false,
            switchValue: true, 
            disabled: true, // 是否禁用开关
            imgurl: '', // 展示图片的路径
            ms: '', // 材料描述信息
        }
    },  
    methods: {
        //  滑块是否禁用
        handleCheckedCitiesChange(){
            if (this.checked) {
                this.showPhoto = true
                this.showPrise = false
                this.disabled = false
            } else {
                this.showPhoto = false
                this.showPrise = true
                this.disabled = true
            }
        },
        showImg(row){
            this.img = row.src
            this.ms = row.ms
        },
        deleteRow(index, rows) { // 移除一行
            rows.splice(index, 1) // 删掉该行
        },
        addRow(tableData){ // 新增一行
            // 之前一直想不到怎么新增一行空数据，最后幸亏一位朋友提示：表格新增一行，其实就是源数据的新增，从源数据入手就可以实现了，于是 恍然大悟啊！
            tableData.push({ src: '', ms: this.addTable.wjms })
        },
    }
}
</script>

<style scoped>
.pageDiv{
    height:100%;
    width: 100%;
}
.formDiv{
    height:10%;
    width: 100%;
}
.mainDiv{
    height:90%;
    width: 100%;
}
.leftDiv {
    height:100%;
    width: 70%;
    float: left;
    padding: 10px
}
.rightDiv{
    height: 100%;
    width: 30%;
    float: right;
    padding: 10px;
    overflow: hidden;
}
.formItem {
    width: 160px;
}
.el-form-item {
    margin-top: 5px;
    margin-bottom: 10px;
}
.potoDiv{
     height:100%;
     width: 100%;
}
.etidDiv{
    height: 160px;
    width: 100%;
}
.selectInfoDiv{
    height:40px;
    width: 100%;
    padding: 10px;
}
.tableDiv{
    height:calc(100%-320px);
    width: 100%; 
}
.content-box .el-tabs {
    height: 100%; 
}
</style>

